[2017-12-20 23:52] diddledan opened #1 "Go template fails if vendored packages incorrectly formatted"
The go template checks for formatting of all `.go` files using `gofmt -l`. There is currently logic to exclude any `/vendor/` folder in the main template directory, but if the function includes it's own `vendor` folder that also needs ignoring.

I've worked-up a patch and will submit a PR referencing this issue.

[2017-12-21 00:05] diddledan commented on #1
Also raised, and closed by reporter, at OpenFaas/faas-cli#244

Related to OpenFaas/faas-cli#146

[2018-01-01 15:33] bdparrish opened #3 "Python template fails - "standard_init_linux.go:195: exec user process caused 'exec format error'""
Function successfully built, pushed, and deployed.

The pod status ends with "CrashLoopBackOff".

**Steps**

1. `faas-cli new --lang python-armhf hello-python`
2. `faas-cli build -f ./hello-python.yml`
3. `faas-cli push -f ./hello-python.yml`
4. `faas-cli deploy -f ./hello-python.yml`

<img width="1160" alt="screen shot 2018-01-01 at 10 31 55 am" src="https://user-images.githubusercontent.com/7207

[2018-01-02 15:51] alexellis commented on #3
Can you raise this issue over on the `faas-cli` repo. What platform is this? You really have to provide more details than this if you need support.. thanks.. Alex

[2018-01-02 18:31] #3 closed

[2018-01-02 18:31] alexellis commented on #3
Unable to reproduce the error. Have moved the issue over to: https://github.com/openfaas/faas-cli/issues/273

[2018-01-07 18:13] #1 closed

[2018-02-28 19:19] yogeek opened #10 "Wrong link in repo description"
Hello,

Not really an issue in the code but the repo introduction sentence contains a link which is leading to a wrong URL :
`Official OpenFaaS templates https://www.openfaas.com/`
leads to https://github.com/www.openfaas.com instead of https://www.openfaas.com/

Not sure why because source code of the page contains the right href...

[2018-02-28 20:00] alexellis commented on #10
Thank you for reporting that!

[2018-03-01 10:09] alexellis opened #11 "Help wanted: fetch watchdog via multi-stage build instead of curl"
We should try to fetch the watchdog binary via a multi-stage build instead of curl.

[2018-03-13 10:39] alexellis opened #13 "Python 2/3: Return value instead of using `print`"
Please can we update the Python 2 / 3 templates so that they use `return` instead of `print`.

This also needs to be tested.

[2018-03-15 21:29] alexellis commented on #10
Fixed this 👍

[2018-03-15 21:29] #10 closed

[2018-03-20 08:56] #13 closed

[2018-04-03 15:09] rosskevin opened #18 "[node] Proposal: omit devDependencies from node image builds"
## Expected Behaviour

Image builds should only contain runtime dependencies.

## Current Behaviour

`npm i` installs all dependencies and can create unnecessary image bloat with dev tools such as babel and typescript.

## Possible Solution

add `--production`

## Steps to Reproduce (for bugs)

1. add a `devDependency`
2. build
3. observe the unnecessary dependency

## Context

Image bloat

## You

[2018-04-10 04:51] s8sg opened #19 "[go] template doesn't download the dependency packages"
Dependency package not being downloaded in `Dockerfile`
which results `go` code with external library to fail

## Expected Behaviour
Dependent library should be downloaded automatically to go GOPATH before the compilation

## Current Behaviour
Currently the dependent library aren't being downloaded causing the `go build` command to fail

## Possible Solution
This line can be added in Dockerfile to

[2018-05-04 12:15] #19 closed

[2018-05-04 12:18] alexellis opened #23 "Check all usages of root in templates"
## Description

All templates in this repository should be using non-root users

This is the case for Go and some of the other templates, but we need to review all other templates including ARM to make sure they are covered by this work and it is fully tested.

The easiest way to do this task is to look into each Dockerfile and make sure there is a `USER` statement pointing to a non-root user.

##

[2018-05-07 22:43] BurtonR commented on #23
I've found that the only templates that _do_ have a non-root user are:
* go-armhf
* go
* node

I can update these in the next day or two, unless someone else wants to jump in.

One question for you though @alexellis: In the Node template's Dockerfile, there's a note
`# chmod for tmp is for a buildkit issue (@alexellis)`
Is this needed for all the templates, or is that just a special case for Node?

[2018-05-08 08:41] iyovcheva commented on #23
@BurtonR I can work on this if you're fine with that and didn't have a chance to start?

[2018-05-08 09:57] alexellis commented on #23
@iyovcheva please validate the analysis - we're looking for what the final state is of the image - i.e. root or some other user.

[2018-05-08 12:13] iyovcheva commented on #23
I verified that `go-armhf`, `go` and `node` templates use non-root users.
Updating the PR with the templates one by one.

[2018-05-08 12:16] BurtonR commented on #23
Thanks @iyovcheva!

[2018-05-17 12:39] iyovcheva opened #28 "Support building native C modules"
We would like to stick to a minor build for all the templates, but also allow the use of gcc/make/git/musl (Glibc for Alpine), which is currently not supported.

One of the options is to duplicate the templates and have a separate dev build.
This will cost extra support efforts.

The other option is to use build-args and make the dev build optional.
This allows both having a minor build and suppor

[2018-05-17 20:13] rgee0 commented on #28
+1 for build-args.  I think this would allow us a single Dockerfile for both minimal and dev builds

[2018-05-17 20:33] Affix commented on #28
@rgee0 @iyovcheva

For Ruby another solution would be

- Install GCC at the start of the build
- Copy the Gemfile
- Run bundle install
- Uninstall GCC

This would keep the same Dockerfile and not require the user to do anything special to build native extensions.

[2018-05-18 22:47] kenfdev commented on #28
+1 for build-args, too. As @iyovcheva says, it's an extra effort to duplicate template for this officially and maintain it. Being able to dynamically add it with build-args would open more possibilities.

One thing is that, it would be better if we can declare it somewhere in the `stack.yml` and won't need to set the build-arg every time. Same way as [docker-compose allows build-args](https://docs

[2018-05-19 07:37] alexellis commented on #28
The build arg may not be exposed generically or explicitly to the user. It may more likely be a flag that corresponds to some extra metadata in template.yml.

In this way during the build some arbitrary option cloud be specified to pull in a flavour or mode.

Let's first see an example of it working without any CLI code changes and then talk about UX. --build-arg is already supported in the CLI

[2018-05-19 12:35] kenfdev commented on #28
Here's a simple PoC using pandas. (if I understand correctly)
https://github.com/kenfdev/faas-pandas-example

Added an `ARG` in the `apk add` [here](https://github.com/kenfdev/faas-pandas-example/blob/master/template/python3/Dockerfile#L7)

[2018-05-19 12:51] alexellis commented on #28
That looks very cool... does ask or apt have the ability to read from a file too? Can we quote the packages to prevent additional arbitrary commands being injected?

[2018-05-19 13:15] kenfdev commented on #28
AFAIK, it doesn't look possible. I checked the options for `apk` but doesn't look like there's some options for that.

I've tried this but the command fails if I surround it with double quotes.

With double quotes:

Dockerfile:
[code]

Build command:

[code]

Results:
[code]

Without double quotes and with arbitrary command:

[code]

Build command:

[code]

Result:

[code]

Is there any other way

[2018-05-21 08:18] iyovcheva commented on #28
@kenfdev This error looks like [#392](https://github.com/openfaas/faas-cli/issues/392)
Did you try with 0.6.9? The PR fixing this is merged in the latest CLI

[2018-05-21 08:29] kenfdev commented on #28
@iyovcheva Thank you but I am aware of that issue and have upgraded to the latest CLI (need to check my home env to see the precise version though). I'm assuming the above errors are due to invalid Dockerfile syntax. If I get rid of the double quotes, it builds as expected (which used to fail before I upgraded the CLI as you've mentioned above: FYI)

[2018-05-21 09:15] alexellis commented on #28
Every language has a template.yml file:

[code]

We could extend this with build-modes or build-options:

[code]

This internally would be passed via build args to Docker using the solution proposed by Ken.

The stack.yml file would not change but the build args may look like this:

[code]

If the stack file had to be extended (not sure we should):

[code]

I'm using the word `option(s)` since `mo

[2018-05-21 09:33] iyovcheva commented on #28
@alexellis one concern for this approach - if `build_option` is set to `dev`, we may not want to build all of the listed packages.

It may also look like:

[code]

[2018-05-21 09:49] alexellis commented on #28
Please can you explain what you mean? Also the `build_options` flag would only specify `dev` or nothing, it would never specify packages. The packages would be an option or flavor specified in `template.yml`.

[2018-05-21 10:04] iyovcheva commented on #28
As I thought more, your suggestion looks the best option.
There is no meaningful use case in which someone will need to list the modules as parameters.

[2018-05-21 12:57] alexellis commented on #28
There is a use-case where someone may want a native module - for instance `mysql-dev` for @affix in his example he shared with me. On Debian I think this is called `libmysqlclient-dev`.

I wanted to try to abstract away the packages into a logical grouping or option like `dev` or `build`.

Technically people can fork the templates repo, or convert to a `dockerfile` language type after running `--s

[2018-05-29 03:09] ericstoekl opened #31 "Run dep init as part of the build for go and go-armhf"
## Expected Behaviour

Other templates like Node and Python don't make you install the dependencies yourself -- the Docker Build will take care of dependencies as part of the `faas-cli build` process. However, for `go` and `go-armhf` you are required to run `dep init` before building, or else your dependencies won't be picked up.

## Current Behaviour

You are required to run `dep init` for `go` a

[2018-05-29 12:27] alexellis commented on #31
Eric, I agree with Keiran. This is how the Go community works and vendoring is important for repeatable builds. Node and Python operate differently from Go due to differences in package management.

https://hackernoon.com/using-go-dep-as-a-project-maintainer-641d1f3006d7

What problem are you trying to solve here?

[2018-05-29 12:52] stefanprodan commented on #31
Running `dep init` at build time is error prone since you have no control on the dependencies versions. Having the vendor checked in is the only way to ensure that. [Vgo](https://github.com/golang/go/wiki/vgo) will solve this problem probably in go 2.0

[2018-05-29 15:44] ericstoekl commented on #31
Makes sense, thanks for explaining. I'll close this issue.

[2018-05-29 15:44] #31 closed

[2018-05-29 15:57] alexellis commented on #31
Thanks for striving to make our project better.

[2018-06-09 03:49] napperley opened #32 "Kotlin Templates"
In OpenFaas templates there isn't a template for Kotlin Native. A [recommendation](https://github.com/openfaas/faas/issues/709#issuecomment-394418707) was made by @iyovcheva to have Kotlin Native supported via a custom template.

## Possible Solution

The prudent course of action would be to create a custom OpenFaaS template that is based on the unofficial [Swift OpenFaas template](https://github.

[2018-06-10 04:50] napperley commented on #32
Kotlin Native programs can now run on OpenFaaS :tada: .

![kotlin native on openfaas](https://user-images.githubusercontent.com/3538279/41198397-41a8f4ce-6cce-11e8-91b3-408927c34ae7.png)

[2018-06-10 05:00] alexellis commented on #32
This is very cool. Thank you :) we need to get a quick look at the template then to list it in the faas-cli readme along with the other community templates

[2018-06-10 07:19] napperley commented on #32
Can find the Kotlin Native template here: https://gitlab.com/napperley/openfaas-kotlin-native-template

[2018-06-10 16:31] alexellis commented on #32
@napperley can you join the Slack community too? It would be great to chat with you there and get you connected into the project. https://docs.openfaas.com/community

I think technically we can pull from GitLab, but I wondered how you felt about having this hosted on GitHub for consistency?

The main feedback I'd give on the template is that it should ideally follow the same format as Node/Go/Pyth

[2018-06-10 22:53] napperley commented on #32
@alexellis - I have created a [secondary repository](https://github.com/napperley/openfaas-kotlin-native-template) for the Kotlin Native template, and used a [Git multi push setup](https://stackoverflow.com/questions/14290113/git-pushing-code-to-two-remotes) (incl a Git **pushall** alias) to sync between the two repositories.

[2018-06-12 08:33] napperley commented on #32
Have updated the template structure to fit in with OpenFaaS template requirements.

[2018-06-13 03:33] napperley opened #35 "Build System Support"
With larger projects there is a need to use a build system (with some programming languages). In the case of Kotlin (as a example) Gradle is the main build system used. Gradle has a build structure convention (**src/main/kotlin**, **src/test/kotlin** etc) which is used by projects that use the build system.

## Expected Behaviour

Unsure what the expected behaviour would be since the OpenFaaS temp

[2018-06-14 13:34] iyovcheva commented on #35
Hi @napperley,

I didn't test, but my first proposal for this to be achieved is to edit the template's Dockerfile to install and configure the build tool and execute tasks.

This can also be done using `build-args`.

The best solution IMO is to add `build_system` build option similar to [templates#28](https://github.com/openfaas/templates/issues/28)

A `template.yml` can contain
[code]

cc @alexel

[2018-06-14 22:19] napperley commented on #35
With the Kotlin Native template the structure looks like this:

[code]

If Gradle was used as the build system then the structure would now look this this:

[code]

The new structure doesn't follow the standard OpenFaaS template structure which prohibits build files, and source files that don't follow the conventions.

[2018-06-14 22:31] napperley commented on #35
In the [Java template](https://github.com/openfaas-incubator/java-template/tree/master/template/java) no build system is used. If the Java template were to use a build system (Gradle or Maven) then it would face the same issues as the [Kotlin Native template](https://github.com/napperley/openfaas-kotlin-native-template) (as outlined in the previous comment). Very likely that Java developers who ar

[2018-06-14 22:36] napperley commented on #35
@iyovcheva - Although the **build_system** build option does satisfy the installation of a build system, it doesn't cover the [other issues](https://github.com/openfaas/templates/issues/35#issuecomment-397455644).

[2018-06-14 23:18] napperley commented on #28
How would this affect [Kotlin Native](https://kotlinlang.org/docs/reference/native-overview.html) projects? In Kotlin Native it is very common to interop with C libs. For example if Debian is used, and SDL is a dependency (in a Kotlin Native project) then the **libsdl1.2-dev** package would need to be installed in a container. More recently there is an option to interop with C libs via [Klib](http

[2018-06-16 23:31] alexellis commented on #28
I don't think there is any impact to a Kotlin template. Each template maintains its own Dockerfile with a base image (pick Debian if you like).

[2018-06-16 23:33] alexellis commented on #28
The primary use case here is if someone uses Python `pip` or Ruby `gem` that needs make/gcc to build itself during the installation. `bcrypt` is a good example of that.

[2018-06-16 23:38] alexellis commented on #35
I am not keen on adding additional complexity directly into the YAML schema. We need to carry out some analysis and requirements gathering on this rather than going directly into implementation.

I think the support for Gradle and other tooling can be handled with the Dockerfile and conventions.

We have had 3-5 people create their own Java templates already with Gradle/Maven. What would help is t

[2018-06-16 23:46] alexellis commented on #32
@napperley I'd like to look at this with you it may take me a few days to get around to it. Can you try creating one or two sample functions to show how it works too?

[2018-06-17 05:14] napperley commented on #35
Can provide two Serverless examples that use Gradle, although both of them aren't related to OpenFaaS, and they integrate into AWS Lambda.

- [Cognito Proxy REST Service](https://github.com/awslabs/cognito-proxy-rest-service)
- [Serverless Photo Recognition](https://github.com/awslabs/serverless-photo-recognition)

[2018-06-18 03:59] napperley commented on #32
There is a basic [Weather sample](https://gitlab.com/napperley/openfaas-weather-sample) available. Do note that it is incomplete since the sample doesn't have a *Dockerfile* for instance.

[2018-06-20 00:51] napperley commented on #32
@alexellis - Just had a thought on the Kotlin templates. Would make much more sense to structure the template to include [Kotlin Native target platforms](https://kotlinlang.org/docs/reference/native-overview.html#target-platforms), eg:

[code]

Also the template structure would include [Kotlin JVM](https://kotlinlang.org/docs/reference/server-overview.html) and [Kotlin JS](https://kotlinlang.org/d

[2018-06-20 19:35] alexellis commented on #32
Regular PC architecture and armv7 (armhf) are what we'd expect coverage for with armhf being optional.

[2018-06-20 19:36] alexellis commented on #32
They have to be structured in a known format in order for the templates to be loaded and parsed. You can still have multiple named templates per repo. Like Richard suggests, you should study the official templates repo and copy the approach.

[2018-06-27 08:12] alexellis opened #38 "Add Java template"
## Title: Add Java template

## Outcomes

As a user I can create a Java function using the CLI and an official template

Example:

CLI usage:

[code]

Handler.java

Should mimic or be similar to [Lambda Java signature](https://docs.aws.amazon.com/toolkit-for-eclipse/v1/user-guide/lambda-tutorial.html):

Here is the exact AWS example:

[code]

Ours should be similar, but with our own classes/interf

[2018-06-27 08:12] affix commented on #38
I'm on it :)

[2018-06-27 08:13] affix commented on #38
Derek assign: me

[2018-07-05 11:28] SergeC commented on #38
JDK 9 is outdated since April. Use 8 and 10 for now, on September use v8 and v11(both are LTS).

[2018-07-05 15:23] alexellis commented on #38
Hi @SergeC I'm working on this now and gave a demo in the community call. If you'd like to know more and be an early tester please join Slack and email alex@openfaas.com

Alex

[2018-07-05 15:24] alexellis commented on #38
To be fair it looks like all LTS support is stopped in version 11.

http://www.oracle.com/technetwork/java/javase/eol-135779.html

This is going to use OpenJDK instead of Oracle Java, I don't know if that's relevant to discussion?

![screen shot 2018-07-05 at 4 23 46 pm](https://user-images.githubusercontent.com/6358735/42332412-ce94bad0-806f-11e8-8a0e-62e7fe9c9d6d.png)

[2018-07-06 08:24] alexellis opened #41 "Wrong flag set for group in non-root users"
This line in the Node template is incorrect according to the man/help page for busybox:

[code]

`-g` must be `G`

[code]

Impact is unknown but should be fixed as soon as possible.

## Expected Behaviour

app should belong to app group

## Current Behaviour

app doesn't belong to the group

## Possible Solution

Fix flag in all/any templates including ARM.

This will need testing too.

[2018-07-06 08:43] alexellis commented on #41
(I've updated the node template)

[2018-07-09 15:06] ivanayov commented on #41
C# template is setting the group properly

[2018-07-17 09:32] #41 closed

[2018-07-19 05:51] sdf611097 opened #52 "Unknown flag: chown in nodejs template"
COPY --chown is not work on docker 17.03.2-ce

## Expected Behaviour

fass-cli build will success

## Current Behaviour

It will failed at docker build.

...
Step 14 : COPY --chown=app:app function/ .
Unknown flag: chown

## Possible Solution

Do not use COPY --chown in Dockerfile

## Steps to Reproduce (for bugs)

1. Using a bit older docker
2. js-fn.yml to specify "lang: node"
3. faas-cli build

[2018-07-19 11:12] alexellis commented on #38
Merged.

[2018-07-19 11:12] #38 closed

[2018-07-19 11:13] alexellis commented on #35
See usage in Java template with a multi-project build.

[2018-07-19 11:49] alexellis opened #54 "Suggestion: CI for the templates"
## Expected Behaviour

The templates should validate via a travis build. Whenever someone raises a PR, all templates should be used to create the default sample, build it and run it checking the result

## Current Behaviour

Manually verified.

## Possible Solution

A shell script should be able to do this. Functions can be run using docker run rather than using full OpenFaaS.

Automation would be

[2018-07-19 12:56] alexellis commented on #54
For reference the faas-cli does something similar for its samples.

[2018-07-21 12:12] SergeC opened #56 "PHP template"
PHP template request

## Expected Behaviour
Be able to deploy and run PHP functions

## Current Behaviour
Missing a template for PHP applications

## Possible Solution
Add PHP template

[2018-07-21 12:15] alexellis commented on #56
Hi there and thank you for your interest in OpenFaaS.

The community have provided third party support for PHP. Please see the faas-cli readme file for more details.

Thanks,

Alex

[2018-07-21 12:15] #56 closed

[2018-07-21 17:58] alexellis commented on #56
https://github.com/itscaro/openfaas-template-php/

[2018-07-23 03:34] napperley commented on #32
This issue is now resolved with a [Kotlin Native template](https://github.com/napperley/openfaas-kotlin-templates/tree/master/template/kotlin-native-linux-amd64) already available, and the [Kotlin JVM template](https://github.com/napperley/openfaas-kotlin-templates/tree/kotlin-jvm/template/kotlin-jvm) is close to being released.

[2018-07-23 03:34] #32 closed

[2018-07-30 21:01] alexellis opened #58 "Move from .NET Core 2.0 to 2.1"
We should update to the latest minor version of .NET Core 2.0

This is a simple change in the Dockerfile.

Work was suggested via #33, but after 6 weeks of inactivity we can assume the community needs to finish the work.

Alex

[2018-07-30 21:01] alexellis commented on #58
@burtonr please add this to your list.

[2018-07-30 21:02] alexellis commented on #54
@burtonr thanks for taking a look at this.

[2018-07-31 10:27] #58 closed

[2018-08-02 15:38] #54 closed

[2018-08-08 05:08] AnEmortalKid opened #61 "Template pulled but new project generates empty folder"
I'm working on creating a custom template for scala (in a personal repository). When I pull the template, everything is fine. When I try to build with the template I get an empty directory.

Template in question: https://github.com/AnEmortalKid/scala-template-faas

Here's the structure of my repo:

[code]

When I pull the template, I see the structure copied into my local `template` folder:

[code

[2018-08-08 08:54] ivanayov commented on #61
Hi @AnEmortalKid

 `my-func/` will contain all resources that are put in a `function/` folder, so you should create it and move them there.

You don't need to move to `function/` any files required for building the template , f.e. `Dockerfile`, etc., but only the code template.

You should also add a `template.yml` file.

See the [templates repo](https://github.com/openfaas/templates/tree/master/t

[2018-08-08 08:54] ivanayov commented on #61
Derek add label: question

[2018-08-08 08:55] ivanayov commented on #61
Derek add label: support

[2018-08-08 13:28] AnEmortalKid commented on #61
@ivanayov thanks! I didn't think the `function/` folder was a thing that was required.

I have a fork with a note about that: https://github.com/AnEmortalKid/faas-cli/blob/93c5a8c0095480fc69c267df05c5c8c5be7005a9/guide/TEMPLATE.md#resources

I'll PR that in if that's a good thing to have. (I gotta setup the signer stuff to sign my commits).

[2018-08-08 13:29] AnEmortalKid commented on #61
Closing as this solved my question.

[2018-08-08 13:29] #61 closed

[2018-08-09 19:19] mattnelson opened #62 "java template with external dependencies"
Unable to use external dependencies with the java8 template.
https://github.com/openfaas/templates/tree/master/template/java8#external-dependencies

## Expected Behaviour
The build should succeed.

## Current Behaviour
The command `faas-cli build -f jdbc.yml` fails.

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. faas-cli new --lang java8 jdbc
2. Add code snippet below to metho

[2018-08-09 19:33] alexellis commented on #62
Hi there, can you update your gradle build file to add in the source that "is not jcenter"?

[2018-08-09 19:37] mattnelson commented on #62
This was the generated file and I added my dep and repo. Model and function build. Entrypoint does not build.

Download http://my-repo/com/oracle/ojdbc8/12.2.0.1/ojdbc8-12.2.0.1.pom
Download http://my-repo/com/oracle/ojdbc8/12.2.0.1/ojdbc8-12.2.0.1.jar

[code]

[2018-08-09 21:26] alexellis commented on #62
Can you export/expose the dependencies from the function project? They get built in a specific order so I would imagine once it's downloaded it should be available in the cache for other projects. I'm not really sure why the entry point would try to access the `ojdbc` dependency?

[2018-08-10 07:26] ivanayov commented on #62
Derek add label: support

[2018-08-13 16:27] mattnelson commented on #62
I think I traced this down to a few different issues.

I added `mavenCentral` and `mavenLocal` to https://github.com/openfaas/templates/blob/master/template/java8/build.gradle#L9 in order to get the build to pass when triggered directly via `gradle clean build`

When triggered via `faas-cli build jdbc.yml` the build is executed in a docker container which can't determine where maven local is due t

[2018-08-23 14:18] ivanayov commented on #62
@mattnelson can you please share the error from `faas-cli build`?

[2018-09-03 12:57] alexellis opened #67 "Update Golang to 1.10"
Golang 1.11 is shown as the latest stable Golang version, but there are some issues around needing CGO and GCC which means we should not move (yet). See issue on openfaas/faas - https://github.com/openfaas/faas/issues/875

https://golang.org/dl/

If we have an official Docker image from the Docker Hub then let's try updating and test that.

Alex

[2018-09-03 12:58] alexellis commented on #67
Derek add label: skill/beginner

[2018-09-13 07:56] alexellis commented on #62
Glad you got this working. I'd like us to improve the template if possible. Do you have any suggestions?

[2018-09-16 21:00] alexellis opened #68 "Ruby isn't running as non-root"
## Expected Behaviour / Current Behaviour

The Ruby template should be running as a non-root user but I can't see the final `USER` statement in the Dockerfile.

## Possible Solution

Update the `Dockerfile` and do testing with accessing custom gems.

## Steps to Reproduce (for bugs)

1. Clone the templates repo and edit `ruby/Dockerfile`
2. `faas-cli new --lang ruby ruby-test`
2. Build / deploy /

[2018-09-17 18:52] mattnelson commented on #62
It is provided with the original issue report > https://github.com/openfaas/templates/issues/62#issue-349256427

I could only get it working when bypassing `faas-cli build`. I think this is blocked by https://github.com/moby/moby/issues/14080 since the local m2 repo needs to bound to `~/.m2/repository` during `docker build`

[2018-09-17 20:34] alexellis opened #70 "Move to Alpine 3.8 where possible"
## Expected Behaviour

Alpine 3.8 should be used instead of 3.7 since it is a newer release

## Current Behaviour

We use 3.7.

## Possible Solution

Check for breaking updates / incompatibilities and move to newer version if no blocking issues are found.

[2018-09-18 07:37] ivanayov commented on #68
Derek assign: me

[2018-09-20 12:35] #68 closed

[2018-09-21 08:11] ivanayov opened #72 "Edit java template to allow resources"
Raised on slack.

Resources, located in `funcName/src/main/resources`, are not available in the image after build.

## Expected Behaviour

All resources should be available in the image.

## Possible Solution

Follow Gradle documentation (possibly use [SourceSet](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.SourceSet.html)) and edit `build.gradle`

## Steps to Reproduce (for bugs)

1.

[2018-09-21 08:39] ivanayov commented on #72
I'm on it

[2018-09-26 08:26] fpommerening opened #73 "Install curl what already exists"
## Expected Behaviour
The Dockerfile in the csharp template contains only required steps.

## Current Behaviour
The Dockerfile install curl to download the watchdog. After that curl will be uninstalled. There is no need for this steps. The program curl is already part on the image microsoft/dotnet:2.1-runtime.

### Console output of my test
root@vmd24929:~# docker run -it --rm microsoft/dotnet:2.1

[2018-09-26 17:49] ivanayov commented on #72
This does the work:
[code]

The issue is because `model` is what's compiled in function's `build.gradle` config and it takes `src/main/resources` from `model/` template dir.

[2018-09-26 17:49] ivanayov commented on #72
I'm going to update tomorrow

[2018-09-27 21:03] alexellis commented on #73
@fpommerening do you want to create a PR for this?

[2018-09-27 21:05] alexellis opened #74 "Add "EXPOSE 8080" to all templates"
## Expected Behaviour

If we add `EXPOSE 8080` to all templates then they will be usable with `docker run -P` which can bind a random local port for testing / debug.

## Current Behaviour

Only some have it.

[2018-09-27 21:06] alexellis commented on #74
Can you take a look @ivanayov ?

[2018-09-28 07:39] ivanayov commented on #74
Yep, I can work on it

[2018-09-28 08:37] #74 closed

[2018-09-28 09:30] alexellis opened #76 "Update java8 to use 0.4.0 of-watchdog"
## Expected Behaviour

Update java8 to use 0.4.0 of-watchdog

## Current Behaviour

0.2.5

[2018-09-28 09:34] alexellis opened #77 "Add getPath to Java8 template"
## Expected Behaviour

IRequest and its implementation should now have `getPath`.

https://github.com/openfaas/templates/blob/master/template/java8/model/src/main/java/com/openfaas/model/IRequest.java#L8

## Current Behaviour

We only have `getQuery` or the body for passing parameters.

## Possible Solution

* Update interfaces
* Update implementation
* Write tests

[2018-09-28 15:11] johnmccabe opened #78 "Stop using --no-cache with apk del"
## Expected Behaviour
We should not be using `--no-cache` with `apk del`.

## Current Behaviour
Most alpine based template `Dockerfile`s have `--no-cache` set which results in the APK index being downloaded when set (you can see this occur by setting the --verbose flag).
[code]

## Possible Solution

Update `Dockerfiles`.

## Steps to Reproduce (for bugs)

1. `apk add curl --no-cache`
2. `apk del

[2018-09-28 15:31] alexellis commented on #78
Approved

[2018-09-28 15:54] johnmccabe opened #80 "Additional tweaks to php7 template docs"
## Expected Behaviour
As discussed with @alexellis, some additional tweaks to the `php7` template before the upcoming talks.

## Current Behaviour

n/a

## Possible Solution

n/a

## Steps to Reproduce (for bugs)

n/a

## Context

Some cosmetic changes to the docs for consistency.

## Your Environment

n/a

[2018-09-28 22:01] #80 closed

[2018-09-28 22:01] alexellis commented on #80
Thanks for this John

[2018-10-02 08:08] ivanayov commented on #28
This is resolved for python and ruby templates.
Node works without this feature (AFAIR from my last testing).

Needs figuring out what other templates should support this before closing (php?)

[2018-10-02 16:12] ivanayov commented on #72
Have the fix in #86

[2018-10-02 17:18] #73 closed

[2018-10-02 17:18] alexellis commented on #73
Fixed by removing the download step and using a multi-stage build with Alpine pulling the binary.

[2018-10-05 16:17] alexellis opened #89 "Update node template for when user returns nil"
## Expected Behaviour

Nil should act as a valid return value and just mean that we print nothing.

## Current Behaviour

This causes an exception (i.e. if the user sends "nil" to the callback):

`process.stdout.write(undefined)`

https://github.com/openfaas/templates/blob/master/template/node/index.js#L17

## Possible Solution

Add a truthy check before entering the code block.

## Steps to Repro

[2018-10-05 18:46] padiazg opened #92 "handler.js can return a Promise"
We should be able to handle when the handler.js defined by the user returns a promise in turn of a final value.

## Expected Behaviour
The handler.js could return either a final value or a promise, and we should resolve it if so to get the value to return.

## Current Behaviour
Now the handler.js exports a function that receives a callback to return a resulting value, with this improvement the use

[2018-10-14 10:04] #89 closed

[2018-10-15 10:00] alexellis commented on #77
@ivanayov this should mirror i.e.

[code]

[2018-10-25 07:38] itscaro opened #97 "[PHP] Optimise building cache"
## Expected Behaviour
When dependencies/requirements are not changed, these build steps should be cached.
Pros:
- build time is reduced
Cons:
- composer.json and php-extensions.sh must exist for this template, the user cannot delete them when they are not used

## Current Behaviour
Any modification in function directory uncaches the build step starting from copy of function source codes.

[2018-10-25 07:47] itscaro commented on #97
Derek add label: proposal

[2018-10-25 07:47] itscaro commented on #97
Derek add label: php

[2018-10-25 13:09] Templum opened #99 "Update node and node-armhf templates to Node 10"
Node 10 will be released on the [2018-10-30](https://github.com/nodejs/Release) and will become the new LTS. If that happens we should update the base image to Node 10.

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. L

[2018-10-29 02:44] burtonr commented on #76
Derek close

[2018-10-29 02:44] #76 closed

[2018-11-04 14:50] alexellis opened #100 "Table of contents listing templates"
Let's create a table of contents listing the template in this repo

| Name  | Language  | Version  | Linux base                 | Watchdog       | Link     |
|--------|-----------|---------|----------------------|--------------|--------|
| `python3` | Python | 3.6 | Alpine Linux 3.8 | Classic |                      | [template/python3](https://github.com/openfaas/templates/tree/master/template/pyt

[2018-11-04 14:51] alexellis commented on #100
Maybe we can link to here too - https://docs.openfaas.com/cli/templates/

[2018-11-23 10:14] #77 closed

[2018-12-04 21:29] martindekov commented on #100
Derek assign: me

[2018-12-17 07:45] rgee0 commented on #100
Did this issue pre-date the template store?  Are we creating maintenance tasks / opportunities to drop the ball?

[2018-12-17 07:56] martindekov commented on #100
Hey @rgee0 I think the issue is before we had the template store, but I implemented it with Alex's example. Not sure what you mean by `Are we creating maintenance tasks / opportunities to drop the ball?`

[2018-12-19 04:36] feynmanliang opened #103 "Node template fails to install dependencies in private npm registries"

[2018-12-20 15:31] padiazg opened #105 "Proxy settings for java8 template"
Gradle needs proxy options to be specified explicitly, ignores http_proxy, https_proxy and no_proxy environment variables.

## Expected Behaviour
Grable run the build successfully
[code]

## Current Behaviour
Gradle fails when trying to download modules

[code]

## Possible Solution
Two successful options:
a) Update GRADLE_OPTS in the Dockerfile like this
[code]
b) Create gradle.properties at the

[2018-12-20 20:57] #100 closed

[2018-12-20 20:59] alexellis commented on #100
I asked for an index on each template repo so as we add/remove from that GitHub repo we update its documentation. This might be better sparser without the links column so it's easier to maintain. Otherwise I think it's useful if we do this consistently.

[2018-12-20 21:02] alexellis commented on #99
Hi I created https://github.com/openfaas-incubator/node10-express-template - we should still think about updating to Node-10 in this repo - but will it cause breaking changes for people?

Alex

[2018-12-22 04:01] distantcam opened #107 "C# template transforms newlines which causes hashing troubles"
## Expected Behaviour
When using the C# template the input hash should match the signature sent in the header.

## Current Behaviour
The newlines in the input are converted, which causes the hash to change.

## Possible Solution
Instead of using `Console.ReadLine` the template should use `Console.In.ReadToEnd`.

## Steps to Reproduce (for bugs)
1. `faas-cli new hashbug --lang csharp`
2. Change the

[2018-12-22 09:37] alexellis commented on #99
Hi thanks for checking on this.

From having looked into this I noticed most cloud-based projects follow a scheme around a specific version. They are also very slow to update i.e. AWS is still running on 8.x (yes a custom runtime from a  third-party exists for 10). I'm chatting with @LucasRoesler on how to pin to a Git branch for `faas-cli template pull` - so that we could perhaps delete "node6.3`

[2018-12-28 20:19] LucasRoesler commented on #99
Quick note that a PR has been started on openfaas/faas-cli#573

[2018-12-29 14:42] omerzamir opened #109 "mistake in README.MD"
There is a mistake in the Java8 template watchdog type in README.md .

## Expected Behaviour

Correct type of watchdog should be written.

## Current Behaviour

Classic watchdog is written instead of [of-watchdog](https://github.com/openfaas-incubator/of-watchdog) in the java8 section.

## Possible Solution

Change classic to of-watchdog in the java8 section.
#110 Is the suggested change.

## Cont

[2018-12-29 14:47] alexellis commented on #109
That would be great :+1: please go ahead

[2018-12-29 14:48] alexellis commented on #109
Cc @martindekov

[2018-12-30 17:00] #109 closed

[2019-01-02 20:42] ZeoX06 opened #112 "Add support for ARMv6 devices and build fwatchdog as part of template"
Add support for ARM 32bit v6 devices like Raspberry Pi Zero.  Also including building of fwatchdog as part of template.

## Expected Behaviour
Add template for ARMv6 devices e.g. python3-armv6
Additional, build fwatchdog as part of template build process

## Current Behaviour
No template available for ARMv6.

## Possible Solution
Working example:
https://github.com/ZeoX06/templates/blob/arm32v6_su

[2019-01-02 21:18] alexellis commented on #112
Hi @ZeoX06 thank you for your interest

OpenFaaS will run on Raspberry Pi Zero but in practice it is not practical and the ecosystem made it a burden for me to maintain on my own.

See more here:

https://github.com/openfaas/faas/issues/501

I'm going to close the issue, but you're welcome to build the code from source - there is nothing I am aware of that should prevent armv6 working.

Alex

[2019-01-02 21:18] #112 closed

[2019-01-02 21:19] alexellis commented on #112
Please see my blog on building an ARM cluster here -> https://blog.alexellis.io/build-your-own-bare-metal-arm-cluster/

[2019-01-02 21:57] ZeoX06 commented on #112
Hi Alex,
next time I will have a better look on the closed issues.
Thanks you for sharing your blog post.

[2019-01-02 22:34] alexellis commented on #112
I think you'll find the RPi3 much easier to work with for instance it can run the whole of OpenFaaS on Swarm.

If you'd like to join Slack to chat in our ARM / RPi channel please email alex@openfaas.com

[2019-01-10 06:11] alishir opened #114 "Adding C/C++ template."
As you know C/C++ are popular languages and having template for these languages will be appreciated.
Would you please add C/C++ template?

[2019-01-10 08:16] alexellis commented on #114
Perhaps this could be done in your own GitHub repo and then added to the template store?

See openfaas/store

Alex

[2019-01-11 22:56] martindekov opened #115 "Bump watchdog for GC optimisation"
PR [1001](https://github.com/openfaas/faas/pull/1001/files) in the faas repo fixed a GC optimisation in the watchdog, but currently images are with older watchdog binary

## Expected Behaviour

Pull watchdog binary with latest release (`0.9.14`)

## Current Behaviour

Most of the templates are still with `0.9.6` release of the watchdog with the unoptimised GC

## Possible Solution

In the template

[2019-01-11 22:57] martindekov commented on #115
Derek add label: help wanted

[2019-01-12 00:56] roncrivera commented on #115
hi @martindekov i got this.

[code]

[2019-01-12 10:21] martindekov commented on #115
Hello @roncrivera I approved your PR nice work !

[2019-01-12 20:57] #114 closed

[2019-01-13 08:59] alexellis commented on #115
Derek close: PR merged.

[2019-01-13 08:59] #115 closed

[2019-01-13 09:02] alexellis commented on #99
@Templum, given your advice that it is a no-harm change to update from Node 8 and Node 10 let's go ahead and do that?

Alex

[2019-01-13 09:03] alexellis commented on #99
https://github.com/openfaas/templates/blob/master/template/node/Dockerfile#L1

[2019-01-13 12:16] Templum commented on #99
@alexellis sure I can take over the task.

[2019-01-16 20:55] 6cUbi57z opened #119 "Can't reference local projects from C#"
## Expected Behaviour

I would like to be able to reference a local project from a C# function.

## Current Behaviour

The project folder which is specified as the `handler` in the yml file is copied into the build directory. It is then built inside the container. As a result, the referenced project cannot be found.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create a new function

[2019-01-16 22:00] burtonr commented on #119
@6cUbi57z Are you looking to add a project reference? If that's the case, no it's not possible unless you move the project into the same function directory so that both projects are included in the Docker build directory.

If you model project is a NuGet package, you _should_ be able to add it to the project via normal NuGet process. I would need to double check that to be certain, but it should b

[2019-01-16 22:19] 6cUbi57z commented on #119
That's right. So I have `<RepoRoot>/my-function/Function.csproj` and `<RepoRoot>/ModelProject/ModelProject.csproj` for example. I'm wanting to use ModelProject in multiple functions so putting it inside the folder isn't an option.

Other NuGet packages did restore but this is just for a personal project so I don't really want to be uploading to the NuGet feed.

Alternatives I can think of are:

1.

[2019-01-16 22:37] burtonr commented on #119
I would suggest your option #1 as the best route for this situation. You could build an update script, or CI process that updates the `.dll` when you compile your model project in the function directories (if you wanted to)

The Docker build cannot look outside of the Dockerfile directory, only deeper into the subdirectories. So, for option 2 to work, you would need to have your personal project i

[2019-01-16 23:00] 6cUbi57z commented on #119
Ah yes of course, because it would be outside of the docker context.

Option 1 it is then. I'll put a command in the post build so that it always executes when the project builds.

I don't think theres anything that can be changed in the template to make this easier in future so I'll close this issue.

Thanks for the help!

[2019-01-16 23:00] #119 closed

[2019-01-16 23:02] burtonr commented on #119
Any time! Good luck with it and let us know if you run into any other issues, or questions.

There's also our Slack community if you'd like to join us: https://goo.gl/forms/SqpLSdyzVoOboRqs1

[2019-01-19 19:58] gdillen opened #120 "Build error .NET Core"
Error "ERROR - Could not execute command: [docker build -t function1:latest .]" when trying to build a .NET Core function.

## Expected Behaviour

N/A
## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1. Create a .NET Core function in a folder  faas-cli new --lang csharp function1
2. cd to the function1 directory
3. Building/deploying the vanilla created function works

[2019-01-19 20:17] alexellis commented on #120
Hi thank you for your interest in OpenFaaS. Please could you create s GitHub repo with your sample and paste the link here?

Currently all the templates undergo Continuous Integration so I don't expect there to be issues with the templates. I'll ask someone to have a look at this but in the meantime would encourage you to check with the docs.

Alex

[2019-01-19 20:31] gdillen commented on #120
Hi, I had functions running before with no problem!
Therefore I started with an out-of-the-box function and made a small change with the result I mentioned.
The GitHub repo with the sample https://github.com/gdillen/openfaas

Thanks.
Guy

[2019-01-19 21:16] rorpage commented on #120
I'll be able to take a look at this in 2-3 days unless someone can get to it first.

[2019-01-20 05:52] burtonr commented on #120
Hi there @gdillen! Sorry you're having some troubles, but the error you're seeing is related to .NET Core, not specifically OpenFaaS.

I was able to re-create your issue and saw the cause of the problem. If you try to build your function using the `dotnet` CLI, you will get the same error:

[code]

A quick search turned up this very brief, but accurate explanation: [missing compiler required membe

[2019-01-20 09:15] alexellis commented on #120
Thanks both for helping. I also moved this issue from openfaas/faas. I wonder if this is available via API yet for Derek?

Alex

[2019-01-20 09:16] gdillen commented on #120
Hi @burtonr indeed now it seems to work.
However, I know I hadn't this issue in the (recent) past (all functions then built without problem).
Anyway I can proceed with development.
Thanks.

[2019-01-31 07:51] bartsmykla opened #124 "Create official Rust template"
It would be good to have official Rust template

## Expected Behaviour
Having Rust's OpenFaaS template

## Current Behaviour
No Rust template

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. L

[2019-01-31 07:51] bartsmykla commented on #124
Derek assign: me

[2019-01-31 08:52] alexellis commented on #124
I'd like to see one using of-watchdog and the HTTP mode. We already have a good community forking template right?

[2019-01-31 08:54] bartsmykla commented on #124
Can do that

[2019-01-31 11:18] alexellis commented on #124
Please PR to here when you're ready and after vetting etc we'll get a PR into openfaas/store for the template store.

https://github.com/openfaas-incubator/rust-http-template

[2019-02-03 23:11] unglaublicherdude opened #126 "Remove blanks at the end of the lines."
Remove unnecessary blanks at the end of the lines in following files:

README.md
template/dockerfile/function/Dockerfile
template/node-arm64/Dockerfile
template/python-armhf/Dockerfile
template/python3-armhf/Dockerfile
template/python3/Dockerfile

## Expected Behaviour
No random blanks in these files.

## Current Behaviour
There are random blanks these files.

## Possible Solution
Remove them with

[2019-02-03 23:16] unglaublicherdude opened #127 "Change the c# examples to string interpolation."
I know, that these are just examples, but string interpolation is much more readable so I think this change would be a minor improvement to the example in the templates.

The change would be from
[code]
to
[code]

[2019-02-09 18:52] #107 closed

[2019-02-11 07:00] tessellator opened #129 "Java8 template does not honor container memory limits"
The JVM prior to 8u131 did not support cgroup memory limits ([reference](https://bugs.openjdk.java.net/browse/JDK-8170888)). This means that the JVM can overrun the memory allocated to it by its container, causing the container to be OOMKilled.

A better description of the issue (and resolution) can be found in this presentation entitled [Why you’re going to FAIL running Java on docker!](https://d

[2019-02-14 09:28] unglaublicherdude commented on #127
Pull-Request is merged.

[2019-02-14 09:28] #127 closed

[2019-02-14 09:28] unglaublicherdude commented on #126
Pull-Request is merged.

[2019-02-14 09:28] #126 closed

[2019-02-18 04:08] burtonr commented on #120
Derek close

[2019-02-18 04:08] #120 closed

[2019-02-19 17:54] pcorbel opened #132 "Add dockerfile-arm32v6 template"
Add a dockerfile arm32v6 template based on the existing dockerfile template

## Expected Behaviour
ARM users should be able to use an official dockerfile template

## Current Behaviour
OpenFaaS don't offer as of now the possibility to run dockerfile functions from an official template on a ARM cluster (like Raspberry pi).

## Possible Solution
Add an official template based on `arm32v6/alpine` ins

[2019-02-20 09:15] alexellis commented on #132
Hi @pcorbel,

Thanks for your interest in the project.

armv6 support was removed from OpenFaaS due to lack of demand, compatibility with Kubernetes and limited horse-power to do everything with a very small team of community volunteers.

https://github.com/openfaas/faas/issues/501

If you can use a dockerfile-armhf template then please propose one using the official multi-arch image of `alpine:3.

[2019-02-20 09:15] #132 closed

[2019-02-20 09:46] pcorbel commented on #132
Hi @alexellis,

Understood for the armv6 support.

I can indeed use a  dockerfile-armhf template from either the alpine:3.8 or alpine:3.8 official multi-arch image (thanks you fat manifest...)

The only difference with the current dockerfile template would be the watchdog binary.

Is it okay for you if I open a new issue with the above information or is there still something I'm missing?

[2019-02-21 14:27] alexellis commented on #127
Thank you!

[2019-02-21 14:34] #129 closed

[2019-03-11 10:01] #124 closed

[2019-03-13 21:28] markserrano915 opened #135 "Build Issues with Go Template for Raspberry Pi 3Bs"
I got two problems whenever I try to build a Go function for Raspberry Pi 3Bs.

To build the project in MacOS, I did the following:
[code]

However when I run the build, I get the following error:

The offending section is:

https://github.com/openfaas/templates/blob/45db7b49fb4c3a7d024ba96d0c12aef6dd5ecc86/template/go-armhf/Dockerfile#L13

I don't know what `-z` does in `test -z`. But I assumed i

[2019-03-13 22:37] alexellis commented on #135
Hi thanks for your interest in the project.

Please don't raise a PR.

go-armhf will not work on MacOS. That is only for on-device compilation. For MacOS use simply the "go" template.

If "go-armhf" has developed an issue on the device then that is something that we need to look into.

I'm going to close this issue because I don't think there is a problem. I will be open it again if needed but you

[2019-03-13 22:37] #135 closed

[2019-03-14 00:26] markserrano915 commented on #135
I'll try this later.

So my target platform are Raspberry Pi's. I will make a Go (non-ARM) template in Mac. Build it and deploy to OpenFaas on my Raspberry Pi cluster. I kinda expect that won't work since I thought Raspberry Pi's would need a GO build for ARM?

Well I think I tried that already because the original template (https://github.com/openfaas/templates/blob/master/template/go-armhf/Docke

[2019-04-05 18:06] devongleeson opened #137 "Proposal for java8 template changes"
As part of a hack week at my company, I wrote a java8 function that was based on the template provided in this repo. I noticed a few things that could make working with java8 functions a lot easier. I'd be willing to do the work, but I want to make sure it is wanted before I go off and invest in doing the work.

## Expected Behaviour
Development of java functions should be more flexible and integr

[2019-04-05 21:27] alexellis commented on #137
Thanks for your interest.

You should also take a look at https://github.com/openfaas/store/issues/70

[2019-04-05 22:06] devongleeson commented on #137
I think the only part of my plan that would require coordination is the publishing the interfaces jar part. I think I could tee most of it up, but it would require some additional steps with bintray. It requires an account, which is free for open source, but I probably shouldn't be the one that opens the account/owns it. I can hook the publishing bits up to travis, but someone will need to store t

[2019-04-08 22:16] tiborv opened #139 "Add mulitarch-based template for node"
This is related to #132

It would be nice to be able to build node-armhf  images on x86-64 docker hosts by using `mulitarch/alpine` as base docker image.

I've already created a template on [my own](https://github.com/tiborv/openfaas-templates-armhf-mulitarch) (a single line change in the Dockerfile) and I was wondering if it would be useful to have it in the offiical repo aswell i.e. a `node-armh

[2019-04-09 15:45] kameshchauhan opened #140 "Get Maven central co-ordinates to publish dependency jars"
@alexellis
As part of resolution of issue https://github.com/openfaas/store/issues/70, there is a need to get access/coordinates on Maven Central Nexus Repository to host/publish the dependency jar files.

Create an account and raise ticket at: https://issues.sonatype.org/login.jsp

Refer the sample issue i have created for the same: https://issues.sonatype.org/browse/OSSRH-47615

Read this articl

[2019-04-14 05:22] qmnonic commented on #62
I'm also interested in solving this problem.  I get the same error.  I'm also not very familiar with gradle, so trying to figure it out.

[2019-04-16 19:16] qmnonic commented on #62
Seems like a gradle knowledge issue.  After reviewing this page - https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_configurations_graph - it seems as though changing:

`compile 'com.oracle:ojdbc8:12.2.0.1'`
to
`compileOnly 'com.oracle:ojdbc8:12.2.0.1'`

Allows the function to be compiled.  Not sure if it'll run yet.
This isn't true for external jars, available th

[2019-04-17 20:55] qmnonic commented on #62
This may be a repeat of what @mattnelson said above, but if you create a java8 function called `my-function`, adding a private maven repo, that private repo isn't resolved when `faas-cli build -f my-function.yml` builds the `entrypoint` subproject.

If you look into `build/my-function` you will see that it fails to compile the `build/my-function/entrypoint` subproject, at these lines in the `build

[2019-04-30 07:36] fstonezst opened #144 "Why Java function so complicated？"
I notice that the implement of function in other language has a very sample templete style, So  why java is so  complicated?

[2019-04-30 10:23] alexellis commented on #144
Hi thanks for your interest in the project.

The handler for Java is particularly simple IMHO.

Can try to be more specific and constructive?

[2019-04-30 10:23] #144 closed

[2019-05-04 23:23] anmtan commented on #137
It would be great to see this is improved. I am using Java8 template. Intellij thinks the code is broken after import.

[2019-05-05 00:01] alexellis commented on #137
This will be happening shortly. Feel free to join Slack to keep in touch.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-05-06 21:13] alexellis commented on #144
@fstonezst

[2019-05-07 03:59] fstonezst commented on #144
I just want to ask about the principle of openfaas, not a suggest or a demand.  It's only two code file in the go template (main.go&handler.go ). But there are so many code file in the java template. So why the faas of java needs so many work? Thank you for your attention.

[2019-05-14 14:15] alexellis commented on #140
@kameshchauhan https://issues.sonatype.org/browse/OSSRH-48617

[2019-05-14 18:28] alexellis commented on #140
Derek close: resolved

[2019-05-14 18:28] #140 closed

[2019-05-16 09:14] fcallejon commented on #119
Hi,

I'm having the same issue and what I did is the following:

First create a symlink to the folder with the local project inside my function project folder.
Then exclude it from the build and project.
[code]

And then make it work for VS (`When` part) and build (`Otherwise` part).
[code]

Seems a bit hacky and I've just started testing OpenFaaS so I'm not sure this will workout as a real-world

[2019-05-17 15:31] nwong4932 opened #146 "Java 11 & 12 template"
Can't create function with Java 11 or Java 12
## Expected Behaviour

a Java 11 or Java 12 template provided
## Current Behaviour

only Java 8 template available
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System a

[2019-05-17 16:29] alexellis commented on #146
Hi is that some specific feature that you need from Java 11 or 12?

What I would suggest you do is look at the java 8 template, fork it into your own repo and then update the dockerfile.

Let me know how you get on with that and if you need any help please feel free to ask on Slack.

Alex

[2019-05-20 17:25] oanguin commented on #52
Any updates on this issue.

[2019-05-26 13:24] rgee0 commented on #67
Derek close: Go Template now shows `FROM golang:1.10.4-alpine3.8 as builder`

[2019-05-26 13:24] #67 closed

[2019-05-26 13:28] rgee0 commented on #11
This has moved a step closer with https://github.com/openfaas/faas/commit/9eafa0bfd79177e601df672a858dd07131cb3956#diff-354f30a63fb0907d4ad57269548329e3

There hasn't been a release since this was merged.  Once we see a release and the CI (hopefully) pushes watchdog images we can commence testing their use.

[2019-05-26 13:34] rgee0 opened #147 "Add PHP7-armhf template"
## Expected Behaviour
Add an armhf equivalent of PHP7 template.

## Current Behaviour
X86 only.

## Possible Solution
The two base images used in the x86 template are multi-arch so an initial position may be achievable through simply changing the watchdog curl line.

## Steps to Reproduce (for bugs)
Not a bug

## Context
Working through an example with a new user on Slack proved the concept.  Maki

[2019-05-26 15:17] alexellis commented on #11
Let's see how it works out? Just started a build. https://github.com/openfaas/faas/releases/tag/0.13.1

[2019-05-27 15:08] #147 closed

[2019-05-30 02:55] psoares commented on #137
I fixed the issue of intelliJ not recognizing the interfaces by setting the following in the settings.gradle of my function:
[code]

[2019-06-03 12:30] zeerorg opened #152 "Using random user id while running function containers"
Update on node js, c# and golang templates to allow running containers with random uid. This makes them compatible with OpenShift.

## Context
This issue was noted with Python templates and fixed in #145
I tried to reproduce this issue with 3 templates: nodejs, c# and golang but this issue doesn't affect them and hence there is no need for any change.

## How this was tested:
This was tested with

[2019-06-03 12:52] alexellis commented on #152
How about these ones?

https://github.com/openfaas-incubator/python3-debian
https://github.com/openfaas-incubator/python-flask-template/
https://github.com/openfaas-incubator/golang-http-template

(and the Java template?)

Alex

[2019-06-03 12:59] zeerorg commented on #152
I'll test with those and revert back.

[2019-06-04 17:18] agasser opened #153 "Missing Gradle Wrapper script files from java8 template"
The java8 template is missing Gradle Wrapper scripts

## Expected Behaviour
After using the java8 template to create a function, the Gradle wrapper can be used to build the project with `gradlew.bat` on windows or `./gradlew` on Unix.

## Current Behaviour
The required script files are missing. See `gradlew` and `gradlew.bat` in the [Gradle Wrapper documentation](https://docs.gradle.org/current/us

[2019-06-04 17:37] alexellis commented on #153
Thank you for raising this issue. I think the concern I had was committing binary files for each function.

What does the file size structure look like with these files added back?

[2019-06-04 17:38] alexellis commented on #153
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-04 18:22] agasser commented on #153
The binary file (gradle.jar) is already there. It is just the wrapper scripts that are missing.

[2019-06-04 18:23] alexellis commented on #153
Would you like to submit a PR so we can see what it looks like on a diff?

[2019-06-05 11:26] zeerorg commented on #152
The java and golang-http templates have no issues running on different users. But the python3-debian and python-flask templates both have user set as root and hence can't run on different users. They both need to be updated.

[2019-06-20 21:04] psoares opened #156 "Improve test execution and reporting for Java8 template"
The current multi-stage build Dockerfile executes a simple `gradle build` without ways of injecting variables to the test task. Tests that depend on environment variables will fail. A particular use case is an integration test that retrieves credentials from the outside.

## Expected Behaviour

I should be able to pass system properties and gradle properties to the build command, so I can add them

[2019-06-21 03:23] chennqqi opened #157 "copy go source code into image is unnecessary"
https://github.com/openfaas/templates/blob/f498818af1ec771d2b11388ad2c74f8b011addf0/template/go/Dockerfile#L33

[2019-06-29 20:29] alexellis commented on #137
Thank you @psoares that's great.

I have registered an account with jCenter, it's on my list to publish the packages there instead of shipping them in the template. I'll need some help with that or to carve out some hours to get up to speed one day over the summer.

[2019-07-05 15:34] BTony95 opened #158 "Java application can't read file from Resources"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour
I am currently experimenting with Openfaas and Java. I made a simple function to check the body of an HTTP call against a JSON schema.This JSO

[2019-07-05 15:34] alexellis commented on #158
I'm moving this issue to the templates repo where the Java code exists.

[2019-07-05 15:34] alexellis commented on #158
See also: #86 by @ivanayov

[2019-07-19 09:02] erlendv opened #159 "Support for binary response and binary request body in java8 template"
The IResponse interface only have a setBody()/getBody() that works with strings. The entrypoint (com.openfaas.entrypoint.App) also tries to encode the body to UTF-8 when converting to bytes to write to the OutputStream.

Also, the IRequest interface also only have a getBody() that returns a String.

## Expected Behaviour
The IResponse-interface should at least have a setBody(byte[] data) and a get

[2019-07-19 19:46] alexellis commented on #157
Hi @chennqqi the copy statement is not in order to ship the source-code, but to ship any artefacts and static files which the user wishes to add.

If you have an alternative in mind, then please do feel free to propose it. I'll close the issue until we have a better option.

Alex

[2019-07-19 19:46] #157 closed

[2019-07-19 19:50] alexellis commented on #52
Hi @oanguin, if you look at the PR, then you will see that @sdf611097 was asked for input over 7 months ago and still hasn't replied.

If you'd like this feature, I'd suggest working on the PR or submitting your own PR.

The key thing lacking from the PR was testing and evidence that it didn't introduce breakage.

Hope that helps,

Alex

[2019-07-19 19:52] alexellis commented on #159
Hi @erlendv,

Thank you for your suggestion and for providing lots of detail. I could see this as being a useful change for Java users.

I can see that you've followed some of the contribution guide, but there is a part that states that work shouldn't be started until the feature is agreed on with the maintainers.

Given that you've already done the work, let's chat about it here?

Is this a break

[2019-07-20 09:47] erlendv commented on #159
Hi Alex

Thank you for your reply.  Sorry about that, I realise I did not quite
follow the contribution guide here. I got a bit eager :)

Im new to openfass and not sure how this compares to the other language
support. But I think being able to read and write binary data could be a
good thing. For instance an image manipulation service.

Ideally I would have solved this a bit different. But the go

[2019-07-20 15:35] erlendv commented on #159
Hi Alex

This is my first contribution to anything so I hope you can bear with me. I did forget to sign off the first commit and tried to amend the commit with signoff. But the result was two commits:
https://github.com/openfaas/templates/pull/160/commits/ca71c0e9ff08dc10f819e1e874ecd764a79df35d <https://github.com/openfaas/templates/pull/160/commits/ca71c0e9ff08dc10f819e1e874ecd764a79df35d>
https

[2019-07-30 17:58] tim-hellhake opened #163 "JDK in java8 template is very old"
## Expected Behaviour

Java8 template uses the latest JDK8 version.

## Current Behaviour

Java8 template uses JDK 8u131 which is more than two years old.

## Possible Solution

Use the latest tag of the jdk8 image.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

The used jdk misses several security updates.

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 )

[2019-07-30 18:11] tim-hellhake commented on #137
@alexellis How can I help?

[2019-08-01 07:14] tim-hellhake opened #165 "Update gradle to the latest release"
## Expected Behaviour

The latest gradle version is used (5.1.1).

## Current Behaviour

The used gradle version is 4.8.1.

## Possible Solution

Update the gradle version in the Dockerfile and the property files for the gradle wrappers.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

Gradle version is outdated.

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.

[2019-08-01 07:29] alexellis commented on #165
Hi @tim-hellhake

Thank you for your interest in the project.

Please fill out the whole issue template, this is not optional.

https://github.com/openfaas/templates/blob/master/.github/ISSUE_TEMPLATE.md

Alex

[2019-08-01 07:34] alexellis commented on #163
Hi @tim-hellhake

Please fill out the whole issue template. I've already mentioned this on #166

Alex

[2019-08-01 07:42] alexellis commented on #146
@nwong4932 ... it's August now and I've still not heard back from you. Can you report back please?

Alex

[2019-08-01 08:46] alexellis commented on #163
Related: https://github.com/docker-library/openjdk/issues/345

[2019-08-01 09:26] #146 closed

[2019-08-01 21:56] tim-hellhake commented on #163
I did some research based on the linked issues.

The last release of openjdk8 in alpine was u212.
https://pkgs.alpinelinux.org/package/edge/community/x86/openjdk8

As the openjdk8 alpine image is built from the openjdk8 package in the alpine repository the latest image version is also u212.

Azule puts a lot of effort into releasing tck tested openjdk [builds](https://www.azul.com/downloads/zulu-c

[2019-08-02 16:13] #163 closed

[2019-08-02 16:31] alexellis commented on #165
Derek close: fixed, latest is now live.

[2019-08-02 16:31] #165 closed

[2019-08-10 11:19] maiermic opened #169 "Support adding apk repositories"
Thanks to #28 it is possible to install additional packages using `--build-arg ADDITIONAL_PACKAGE=<package-names>`. However, you can only install packages from the default repositories defined in `/etc/apk/repositories`.

## Possible Solution

Add another build argument `ADDITIONAL_REPOSITORY`, whose content is appended to `/etc/apk/repositories` and update the package list. This might be accompli

[2019-08-22 09:51] LucasRoesler opened #170 "Update readme template table version column for go to 1.11"
The README table has a column for version, which is not insync for the go and the go-armhf template

## Expected Behaviour

The table should say 1.11 to match https://github.com/openfaas/templates/blob/56f1b9d833c8fae8549f6234046cdcf0096f22bb/template/go/Dockerfile#L3

## Current Behaviour

It currently says 1.10.8

## Related
### Update Dockerfile and rebuild/release
https://github.com/openfaas/f

[2019-08-22 14:51] #170 closed

[2019-09-01 09:48] tuct opened #171 "Is the Java template single-threaded?"
TLDR: Java 8 function can not execute in parallel (multi threaded)  in one container

We run git (jgit) code in the java 8 functions and sometimes this functions can take 2-5min to complete.
Under high load (in our case multiple requests to one function) we saw logs like this in the function:
Connection to XXX.XXX.XXX.XXXX:8081 reset by peer.

Took us a while to figure out that the reason for that

[2019-09-12 07:07] alexellis commented on #103
I saw a solution for this proposed in openfaas/faas-cli, I would suggest looking over there.

[2019-09-25 14:48] magnusja commented on #159
Any news on this? Cant be true that I can only exchange strings in functions right? Base64 encoding an image adds a substantial overhead I would like to avoid...

[2019-10-11 14:34] qmnonic commented on #171
very interested in this as i'm trying to do heavy data processing, requiring multiple threads.

[2019-10-15 09:45] alexellis opened #174 "Update watchdog/ofwatchdog versions to latest"
## Expected Behaviour

Update watchdog/ofwatchdog versions to latest

## Current Behaviour

We are a little bit behind

## Possible Solution

* Edit each Dockerfile in this repository and send a PR.

* The latest watchdog release is here: https://github.com/openfaas/faas/releases
* The latest of-watchdog release is here: https://github.com/openfaas-incubator/of-watchdog/releases

[2019-10-15 10:07] oshka commented on #174
I'll do this!

[2019-10-15 10:28] alexellis commented on #174
Thank you @oshka, please see the contribution guide https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md

It's important that PRs must be signed-off with `git commit -s`, this is explained in the guide above.

[2019-10-15 10:45] oshka commented on #174
I apologize for the carelessness. I fixed it.

[2019-10-17 20:48] tuct commented on #171
@qmnonic I do that with the node10 template as it is using express.js with a slithly customized template.
The main problem I currently have with the single threaded Java server is concurrent function execution is simple not possible: if I have one Java function that I call multiple times in a row, Java will process one call after each other, the node10 template would allow paraplell execution as i

[2019-10-18 07:30] alexellis commented on #171
Please feel free to experiment with the template or to build your own using Vert.x or whatever technology you prefer.

I would need some numbers and steps to reproduce the problem reported to confirm it.

I'm addition memory/CPU and scaling may be important to the solution.

[2019-10-18 07:31] alexellis commented on #171
How did you confirm/observe that the built-in Sun server behaves that way?

[2019-10-18 07:35] alexellis commented on #171
/set title: Is the Java template single-threaded?

[2019-10-18 08:09] alexellis commented on #171
[code]

This is a basic load-test with 50 concurrent threads / workers. It appears to have completed very quickly vs. using `-c 1`, but since I don't have your example, findings or steps to reproduce the problem, I can't really help more until I hear from you.

[2019-10-18 08:13] alexellis commented on #171
Could you be hitting this?

[code]

From: https://docs.oracle.com/javase/8/docs/jre/api/net/httpserver/spec/com/sun/net/httpserver/HttpServer.html

Or perhaps this? https://github.com/openfaas/faas-netes/pull/524

[2019-10-18 09:32] csakshaug opened #176 "Dotnet template naming and dotnet core 2.2 and 3.0 templates"
We need the option to select 2.2 and 3.0 dotnet core template. We also need to address the naming for these templates. I think using "csharp" as template name is misleading.

[2019-10-25 21:35] csakshaug commented on #176
If we continue to use "csharp" and not dotnet/netcore we could perhaps do it  something like this: `csharp30` / `csharp22` / `csharp22-http` / `csharp-netcore30` / `csharpnetcore22` / `csharp-netstandard20` / `csharpnetstandard20`  / `csharp-netstandard20-http`.

About the current `csharp` I think it has multiple problems. It combines both dotnet standard and dotnet core. The dockerfile right now

[2019-11-07 10:24] alexellis commented on #124
/lock

[2019-11-12 08:34] #92 closed

[2019-11-18 07:43] s1monw1 opened #181 "Generated Java templates have unresolved dependency"
Both the **java8** and **java12** template consist of multiple Gradle modules: `function`, `entrypoint` and `model` with both `function` and `entrypoint` pulling a [local `project` dependency](https://github.com/openfaas/templates/blob/master/template/java12/function/build.gradle#L24) of `model`.

If used via `faas-cli`, the generated code (everything from `function`) cannot be compiled since the

[2019-11-21 22:58] przemeqq opened #182 "response is corrupted by app.java when converting byte[] to and from string in specific use case"
## Expected Behaviour
Ability to provide byte[] as response body in handler

## Current Behaviour
In java12 template, you can't provide byte[] as response. You need to convert it to string in handler and in app.java it is again converted to byte[]. In result it gets corrupted. In our use case (generating pdf using JasperReports) we received blank PDFs

## Possible Solution
Another template "Java12

[2019-11-23 07:56] napperley opened #183 "Kotlin Native Linux x64 Template"
There is no official Kotlin Native Linux x64 template despite the fact that a [unofficial one](https://github.com/napperley/openfaas-kotlin-templates/tree/master/template/kotlin-native-linux-amd64) exists. Kotlin has significantly grown in backend development to the point where it makes sense to include a official Kotlin Native Linux x64 template.

## Possible Solution

I propose using the unoffic

[2020-01-15 12:16] SchulteMarkus commented on #181
I can just agree here. Creating a Java OpenFaas function can be improved regarding developer experience.

In my opinion, AWS Java lambda is easy to use for creating custom Java functions, for details have a look at https://docs.aws.amazon.com/lambda/latest/dg/java-programming-model-handler-types.html

[2020-01-23 16:18] Waterdrips opened #188 "Python2 is out of support"
Python2 has reached EOL,

Is there a process for retiring a template?
Also any examples with the python2 template probably want porting to python3 templates.

[2020-01-24 14:30] alexellis opened #189 "Add optional support for Go modules via build-arg for "go" template"
Add optional support for Go modules via build-arg for "go" template

## Expected Behaviour

Should be able to pass this and use Go modules:

[code]

## Current Behaviour

We just support using a vendor folder at present, or using go modules to get a vendor folder, then turning it off for the build.

## Possible Solution

See the golang-middleware template as an example and replicate 1:1

https://g

[2020-01-24 14:30] alexellis commented on #189
I'd like an experienced OpenFaaS contributor to take on this work who can also give an estimated time of completion.

[2020-01-24 14:36] alexellis commented on #189
/assign: Waterdrips

[2020-01-24 14:44] alexellis commented on #188
What is AWS doing for this? I heard they are extending support for several years, do they publish a docker image we can use? For instance - remember what they did with Java and Corretto? https://aws.amazon.com/corretto/

[2020-01-24 14:45] alexellis commented on #188
I think we've already discouraged usage and given a warning in the custom_message in the template and the workshop/homepage also uses only Python3 as far as I remember.

[2020-01-24 14:47] alexellis commented on #188
OK, we don't have a welcome_message or such in the "python" template, @Waterdrips feel free to add one. See node or go as examples.

This and the workshop seem like the most important areas to cover, and we have done:

![note](https://user-images.githubusercontent.com/6358735/73077621-6ce3e280-3eb8-11ea-91bb-79098bf11aa6.png)

https://docs.openfaas.com/cli/templates/#python-3-classic-template

[2020-01-28 17:14] MrNiftyCoder opened #191 "Support request for node12 template and Stripe middleware"
## Expected Behaviour

Using this template to authenticate a stripe webhook signature requires access to the rawBody of the request. This field isn't available in the function on the event parameter and should be available to the function, as some implementations may need this.

## Current Behaviour

Currently only the parsed body is exposed to the function via the event parameter.

## Possible So

[2020-01-28 20:07] alexellis commented on #191
Hi thanks for your interest,

Pull requests are accepted, but new and breaking templates are not accepted to this repository. Sorry for that confusion, please do read the README again and let me know if you think that needs to be explained differently.

The community templates are a starting-point and won't automatically suit everyone's needs. Forking the template and having your own is a perfectl

[2020-01-28 20:19] alexellis commented on #191
It may be that we actually need a mode to change the default parser from JSON to just raw.

Try commenting out:

https://github.com/openfaas/templates/blob/master/template/node12/index.js#L12

See what you get.

We could add something like an ENV_VAR to support it - i.e.
[code]

[2020-01-28 20:19] alexellis commented on #191
/set title: Support request for node12 template and Stripe middleware

[2020-01-29 03:06] burtonr commented on #191
With the suggestion to simply comment out the line...
[code]
...the resulting `event.body` is always: `{}`:
[code]

However, using @MrNiftyCoder 's suggestion, both the body (previous functionality) and the buffer (raw body) are available to the function:
[code]

In order to get this functionality, I think we need to wrap the suggested code with an env var in order to limit it's effect.
Reading up

[2020-01-29 04:43] alexellis commented on #191
@burtonr can you confirm the content type you were using in your example with curl? The whole statement. If Stripe doesn't need to use bodyRaw in their example code, what's making us need that?

[2020-01-29 05:09] burtonr commented on #191
The content type was:
[code]

You can see in the Stripe documentation that they are using the following code in their example:
[code]
In other words, for every request to `/webhook`, if a request has the content type "application/json", it will send the body as the raw buffer.

We can't exactly do that for a specific endpoint in the template, but could make it available to a function if a variable

[2020-01-29 19:11] MrNiftyCoder commented on #191
@burtonr, just to satisfy my curiosity, why would we not be able to apply the bodyParser.raw to specific endpoints in the template? After reading the comment here: https://github.com/expressjs/body-parser/issues/83#issuecomment-78139688 it seems that they don't recommend setting a global bodyParser and that it should be at the individual endpoint.

This is me just throwing out an idea, so it might

[2020-01-29 19:28] burtonr commented on #191
What I meant by "we can't do that for a specific endpoint" is that we couldn't add a specific route to the base template. The difference is between an individual function and the template (from which all functions are built from).

You're right, express say "don't do this globally", but that's for a full featured long running persistent web api. Here, we're dealing with functions, or micro-apis th

[2020-01-30 12:28] alexellis commented on #191
I would like to see if there's a way we can configure the template to act the same way as it did for the Stripe post, where they simply have:

[code]

All they appear to do is access `req.body`, the implication is that we are installing a middleware which is automatically converting from a buffer to a JSON object, we should be able to suppress that and then offer it as a configuration value via th

[2020-01-31 13:02] alexellis commented on #189
Alistair is away for a bit, so if someone can get to this, please do

[2020-01-31 13:13] LucasRoesler commented on #189
/assign: me

[2020-01-31 18:56] MrNiftyCoder commented on #191
I'm not going to have time to do a pull request after all, sorry.

[2020-01-31 19:06] alexellis commented on #191
Don't worry, I've discussed it with Burton and we are wanting to own this in the community.

[2020-02-03 14:53] #191 closed

[2020-02-04 15:56] #189 closed

[2020-02-05 10:11] #23 closed

[2020-02-20 04:15] burtonr opened #199 "node12 template cannot access chunked requests"
This came up in Slack via @nachiket-p

The node12 template does not make available the request when received as `transfer-encoding: chunked`

## Expected Behaviour

Chunked requests should be able to be utilized in the node12 template

## Current Behaviour

Currently, the event object is effectively empty making it impossible to access the request

## Possible Solution

Possibly need to add a prop

[2020-02-20 04:19] burtonr commented on #199
I did find this (somewhat related) issue in express/body-parser: https://github.com/expressjs/body-parser/issues/191

I also reviewed the video streaming functions here: https://github.com/cconger/openfaas-streaming-demos but found those are all bash functions, so not much help.

Finally, I found this gist example of uploading a chunked request to an express server here: https://gist.github.com/Pa

[2020-02-20 07:17] alexellis commented on #199
Looks like the raw parser appears to reject requests without a content-length header, i.e. chunked encoding. The PHP Swoole server had a similar issue and I added a configuration to the watchdog to buffer the data.

It should work here too - https://github.com/alexellis/php7-swoole-template/blob/master/template/php7-swoole/Dockerfile#L17

[2020-03-07 18:07] Waterdrips commented on #188
/close

[2020-03-07 18:07] #188 closed

[2020-03-16 12:35] AldiT opened #200 "Is there a way to read a file sent to a function via a POST request?"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

I am trying to send a file to the function and further process it inside this function. The problem is that when a file is sent to the function, it is located at th

[2020-03-16 13:30] AldiT commented on #200
Hi , thanks for your response!

I am using python3 as a template.

I have seen the docs, but this far, I have seen no example to what I am trying to do.

Unfortunately, I cannot point you to the code because it is on a private hub, but it is nothing special, I just try to parse the below string using various parsers(cgi, parse_qs python) , but to make the picture more clear I will add some info he

[2020-03-19 07:59] mabuaisha opened #201 "Building Go Example From Latest version is not working"
Right now if I'm using the latest version for template and try to run build go template it will failed on this line `faas-cli build -yaml gofunction.yml`

https://github.com/openfaas/templates/commit/360077eb041d6c6474580d99814bee1b908124b7#diff-4d556a797de20381a5772bb2d63961a3R20 with the following error

[code]

[2020-03-19 08:47] alexellis commented on #201
Hi @mabuaisha I'm going to close this because I can't reproduce it.

If you feel there's an error, then, please fill out the whole issue template with how to reproduce this.

Alex

[2020-03-19 08:47] #201 closed

[2020-03-19 08:47] alexellis commented on #201
The issue template is not optional, it's for your benefit as much as ours - https://github.com/openfaas/templates/blob/master/.github/ISSUE_TEMPLATE.md

[2020-03-19 08:49] mabuaisha commented on #201
@alexellis Sure Alex, will give a try and for issue template next time will follow it and many thanks for your fast response on this, I really appreciate that

[2020-03-19 11:44] alexellis commented on #201
You can edit the issue and I'll reopen if you can give us instructions to reproduce a failing error mid-build due to the file not existing. As @LucasRoesler has shown, we are not able to see that error right now.

[2020-04-22 13:18] AldiT commented on #200
Hey @alexellis , I hope this thread is still under your attention.
For some more information I have an example of what I want to do here: https://github.com/AldiT/multipart_template/blob/master/flask_example.py

If I can draw an analogy to this, a good one in my opinion would be the use of aws lambda + API Gateway from aws to handle form data (multipart/form-data). Is this supported from OpenFaaS

[2020-04-28 21:58] vane opened #203 "Allow to send and receive binary files in java11 template"
## Expected Behaviour

Allow to get byte[]  data instad of string in request
## Current Behaviour

Only string is allowed
## Possible Solution

Read body as byte[] and use IRequest getBodyBytes() IResponse setBodyBytes()
## Steps to Reproduce (for bugs)

1. Create echo function that sends input back to output
2. Send file with POST request
3. Received file have different size

## Context

## Your

[2020-05-29 22:56] jpauwels opened #205 "Support binary payloads and responses, and non-UTF8 string payloads"
The Python templates currently don't support binary payloads and responses, whereas other templates do (e.g. image-handling functions in store). Much like #203 and #159 for Java, it would be nice to add this capability to the Python templates. Additionally, string payloads are assumed to be UTF-8 encoded, even if content-type signals differently.

## Expected Behaviour

When passing binary payload

[2020-05-30 07:29] kylin1994 opened #206 "Failed to pull new customized template"
There is no detailed docs for customize a template step by step. I made a [custom template ](https://github.com/kylin1994/openfaas-springboot-tmp)modeled after java8 template.

I follow the contribution guide to install my own template, an error was encountered:
[code]

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):
[code]
* Are you using Docker Swarm or Kubernetes

[2020-05-30 08:06] kylin1994 commented on #206
I was fixed this issue.

The structure of the template project must be like this:

your-templates-repo
└── template
    └── your-language

[2020-05-30 08:06] #206 closed

[2020-06-16 14:41] dnechay commented on #199
@alexellis faced the same issue when tried to use [sqs connector](https://github.com/openfaas-incubator/openfaas-sqs-connector) for my function.
Under the hood node12 template uses `body-parser`. If there is no `content-type` header in a request then the body is empty.
sqs connector doesn't set this header when sends sqs message to function, but should set to `text/plain`.

@burtonr so seeing on m

[2020-06-16 14:46] alexellis commented on #199
Correct - use the RAW_BODY option. If you need some other options then feel free to suggest them.

[2020-06-16 14:47] alexellis commented on #199
/close: implemented and live for users

[2020-06-16 14:47] #199 closed

[2020-06-16 14:47] alexellis commented on #199
/lock

[2020-07-20 18:55] Kryan90 opened #208 "[Question] Python Templates - Why two requirements.txt?"
Sorry if this isn't the right forum for this question, but I couldn't find anywhere else for general questions related to templates.

I am curious as to why all the python templates define a requirements.txt at the same level as the Dockerfile and then an additional requirements.txt in the function directory.

Can anyone provide context on what sort of design pattern this is supposed to enable? I

[2020-07-20 20:52] alexellis commented on #208
No worries, you can ask about this on the OpenFaaS Slack.

[2020-07-20 20:52] alexellis commented on #208
/msg: slack

[2020-07-20 20:52] #208 closed

[2020-07-21 13:23] jmkhael opened #209 "Functions do not build under WSL: `COPY failed: stat /var/lib/docker/overlay2/xxxx/merged/fwatchdog: no such file or directory`"
Faas functions relying on `openfaas/classic-watchdog:0.18.1` do not build on WSL.

[code]

output:
[code]

## Expected Behaviour
Build should succeed

## Current Behaviour
Builds fails with: `COPY failed: stat /var/lib/docker/overlay2/xxxx/merged/fwatchdog: no such file or directory`

## Possible Solution
Patching the watchdog version being used in the multi-stage builds in the pulled template doe

[2020-07-21 13:31] alexellis commented on #209
Hi Johnny,

What leads you to believe that there is a difference between 0.18.1 and 0.18.2? I am seeing the same result for "docker run" (it working on MacOS)

[code]

Given that OpenFaaS doesn't mount any volumes and does nothing special with Docker other than `docker build`, I am not really sure that we can help you with this. Your issue seems to be repeatable a simple Dockerfile, perhaps this w

[2020-07-21 13:31] #209 closed

[2020-07-21 13:32] alexellis commented on #209
/set title: Issue with WSL and Docker

[2020-07-21 13:33] alexellis commented on #209
(If you're on Windows, then you may have more success with multipass from ubuntu - https://multipass.run/ or git bash (link in the workshop pre-reqs for this))

[2020-07-22 07:51] alexellis commented on #181
I started publishing the dependencies to jcenter but ran into issues with all of the admin requirements and JIRA system. I will bump it up on the list to review again.

[2020-07-22 07:54] alexellis commented on #137
@psoares @tim-hellhake let's move over discussion to https://github.com/openfaas/templates/issues/181 ?

[2020-07-22 08:02] alexellis commented on #137
@devongleeson contributions are welcome to the Java template(s)

[2020-07-22 08:15] alexellis opened #210 "Publish java11 model packages to Maven Central"
## Description

Publish java11 model packages to Maven Central

Given complaints from Java users, we should provide a remote JAR that they can download for the model package, rather than bundling it into their local build.

This enables intelli-sense and removes any "unknown package" errors from IDEs.

I'll close the related issues:

https://github.com/openfaas/templates/issues/181
https://github.

[2020-07-22 08:15] alexellis commented on #181
Closed by https://github.com/openfaas/templates/issues/210

[2020-07-22 08:15] #181 closed

[2020-07-22 08:15] alexellis commented on #137
Closed by: https://github.com/openfaas/templates/issues/210

[2020-07-22 08:15] #137 closed

[2020-07-22 08:19] alexellis commented on #210
It seems that my previous request may have been approved as it's set to fixed -> https://issues.sonatype.org/browse/OSSRH-48617

[2020-07-22 08:22] ieugen commented on #210
They where published with a different group id and artifact id.
See the comments.

The build + tests and checks could be automated with some CI and also the release process.
Is there infrastructure in place for this ?

[2020-07-22 09:39] alexellis commented on #210
Let's take baby steps, and learn the publishing process (which is very complicated TBH) before running and tripping over our own feet.

https://central.sonatype.org/pages/gradle.html

Latest status: unable to release artifact - https://issues.sonatype.org/browse/OSSRH-59394

[2020-07-22 11:12] alexellis opened #213 "Publish java11 entry point to Maven Central"
## Expected Behaviour

The java11 template's entry point can be published to Maven Central as a pre-compiled jar, instead of compiling on each iteration. This will speed up local testing.

## Current Behaviour

Built as part of the function project upon faas-cli build

## Possible Solution

* Introduce an abstract class for the function handler - https://github.com/openfaas/template-sdks/pull/2
*

[2020-07-23 07:54] alexellis commented on #213
Fixed in https://github.com/openfaas/templates/pull/214

[2020-07-23 07:54] #213 closed

[2020-07-23 07:54] alexellis commented on #210
All work completed in https://github.com/openfaas/templates/pull/214 and https://github.com/openfaas/templates-sdk

[2020-07-23 07:54] #210 closed

[2020-07-23 08:01] ieugen commented on #158
@BTony95 : can you check if the resource is in the jar file ?
kubectl exec into the container, unzip and check the file.

Also this might help: https://www.baeldung.com/java-classpath-resource-cannot-be-opened .

[code]

[2020-07-23 08:35] #176 closed

[2020-07-23 08:36] #200 closed

[2020-07-23 08:36] alexellis commented on #200
You should be able to do this with the flask template we provide in the store. Please feel free to use Slack for technical support.

[2020-07-23 08:36] alexellis commented on #200
/lock

[2020-07-23 08:36] #171 closed

[2020-07-23 08:36] alexellis commented on #171
/lock

[2020-07-28 14:10] jmkhael commented on #209
Hi Alex,

thanks for your answer.
From my side I am unblocked by the patching the templates locally:

[code]

I think from OpenFaaS side we can update the templates to bump the classic-watchdog image to a more recent one than 0.18.1 will be enough.

[2020-08-24 12:38] gopiteekenam opened #215 "Java8 Maven support"
Java8 Template Maven support

## Expected Behaviour
Observed that default Java 8 template has no support for Maven, hence enabled Maven support on Java8 as part of the project requirement
As most of the companies / Projects are still mavenized would like to share the code snippet for Java8 Maven template

## Current Behaviour

Currently there is no Maven support for existing Java8 template

## Pos

[2020-08-24 12:52] alexellis commented on #215
Hi thank you for stopping by and showing and interest in OpenFaaS.

Can you introduce yourself please? When you say "we", who is that?

For Maven I think requesting a template is reasonable, but it's more likely to be for the Java 11 templates. Is there any reason you're not asking about that? Isn't Java 8 EoL?

[2020-08-24 15:40] gopiteekenam commented on #215
Thanks for quick reply @alexellis

I am Gopi, I am Technical Manager in Optum Global Services.  As part of Serverless migration from other serverless framework to Openfaas, I have done PoC on Openfaas.  Part of the PoC identified that out of box there is no Maven support for Java Template.  So implemented the logic to enable Maven support for Java8 template.

As you rightly mentioned we are moving

[2020-10-06 11:18] fakoe opened #218 "External dependencies with java8 template fail at entrypoint build.gradle script"
## My actions before raising this issue
- Create new project with **faas-cli new --lang java8 testproject**
- Add external jar dependency and myLib folder into **testproject/build.gradle:**
[code]
- Execute build with **faas-cli build -f testproject.yml**

## Expected Behaviour
Successful build of java8 docker image with the given template configuration

## Current Behaviour
Error when executing *

[2020-10-06 11:18] #218 closed

[2020-10-14 08:45] jebos opened #220 "Support OPTIONS Verb for Node12 Template"
In case you want to connect your function to an external system, OPTIONS Verb is often used to provide informations about the ALLOWED ORIGIN. This is for example the case on Microsoft Azure IoT Hub using the Webhook with CloudEvents 1.0.

## Expected Behaviour
OPTIONS Verb should be provided to handler.js

## Current Behaviour
OPTIONS Verb is not provided to handler.js

## Possible Solution
Add

`

[2020-10-14 08:47] fakoe opened #221 "Java11 template doesn't implements local external libraries at runtime"
When using the java11 template and implementing my locally stored external jars, they exist at compile-time, since faas-cli build runs without error.
But after deploying the function to the OpenFaaS-Server, there is only the function-1.0 folder with the function-1.0.jar and the following libs in a lib folder:
[code]
Where are my declared, external libraries and how can I implement them into the do

[2020-10-14 09:38] alexellis commented on #221
Hi thank you for your interest in OpenFaaS.

Contributions are welcome, feel free to work on and propose a solution.

Alternatively, we offer [consulting](https://openfaas.com/consulting) and a [Premium Subscription]](https://openfaas.com/support) if you want us to look at this as a priority.

Alex

[2020-10-14 09:39] alexellis commented on #220
@LucasRoesler what are your thoughts on this request?

[2020-10-14 09:39] alexellis commented on #220
@jebos thank you for using OpenFaaS. We will consider the request and get back to you.

[2020-10-14 09:51] LucasRoesler commented on #220
I think this is a good start, it allows the user to handle the options request, which makes a lot of sense to me.

But it is important that it will not support CORS by itself.  There are other headers that need to be included in the OPTIONS response, generally you need to response with allowed ORIGIN, METHODS, and HEADERS https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

Further the wildcard

[2020-10-14 09:54] alexellis commented on #220
@jebos feel free to contribute a PR to add the `OPTIONS` method to the handler as you've suggested.

[2020-10-14 14:20] juliusberger opened #223 "Support request for private registries and HTTP proxies in Node"
## Expected Behaviour

When building and deploying functions in a restricted environment (e.g. a corporate environment), additional settings for npm and `npm install` might become necessary to be set, including:
- proxy settings for accessing the internet through a corporate proxy
- custom registries to use packages which are laying inside a network-internal registry

## Current Behaviour

Current

[2020-10-14 14:49] fakoe commented on #221
I resolved the issue with the following two solutions:

1. In the gradle.build script, I use "compile" instead of "implementation" so an external, local dependency would look like this:

[code]

I'm fairly new to gradle, so I had no clue that it works like this.

The second solution would be to change the Dockerfile and copy the external libraries from the builder image into the ship image:
(The f

[2020-10-14 15:55] alexellis commented on #221
Thanks for the reply. Can you re-iterate your first solution? I didn't quite follow it.

[2020-10-14 15:55] #221 closed

[2020-10-14 19:56] #220 closed

[2020-10-15 09:07] alexellis commented on #223
We have had this request come up in the past over on the faas-cli repo. I'll try to link back to it later, or you can search and add the reference here. https://github.com/openfaas/faas-cli/pull/364 https://github.com/openfaas/faas-cli/issues/255

Adding a `.npmrc` file with credentials to private npm repos is almost always going to be the wrong solution, it's dangerous and very likely to leak int

[2020-10-15 09:07] alexellis commented on #223
/set title: Support request for private registries and HTTP proxies in Node

[2020-10-15 09:15] fakoe commented on #221
I think I just failed to understand the build.gradle script. I'm new to gradle and thought that I need to declare local libaries in the dependencies like this:
[code]

When I actually have to do this:
[code]

`implementation` lets you execute `gradle build` without any errors, but the jars aren't added to the final, compiled function.jar, whereas `compile` does add them.

[2020-10-21 09:08] juliusberger commented on #223
I totally agree with the argument of leaking into the image. This may be true and hard to cure.

And `--build-arg` may be the better solution as well.

Closing here.

[2020-10-21 09:08] #223 closed

[2020-10-22 11:24] fakoe opened #225 "Java11 template: Response Status Code can't be changed"
## Expected Behaviour
Changing the status code of the response with `res.setStatusCode(212)` (similar to `res.setBody()`) should be possible.

## Current Behaviour
Changing the status code doesn't change the response's status code. No matter what code is set, the java11 template always responds with "200".

## Possible Solution
Wrong handling of the Status Code?

## Steps to Reproduce (for bugs)
1

[2020-10-25 18:04] utsavanand2 opened #226 "Support multi-arch builds of OpenFaaS functions with buildx"
## Expected Behaviour

Function templates should be multi-arch and support docker buildx

## Current Behaviour

The function templates are not multi-arch

## Possible Solution

Change the Dockerfile to use the `--platform` tags wherever necessary

## Context

When fixed this will allow for much more independence to deploy functions across CPU architectures

[2020-11-17 14:39] #226 closed

[2020-12-02 18:07] alexellis opened #232 "[Regression] Templates fail to work on Raspberry Pi with docker build"
The problem is that after adding buildx multi-arch support `docker build` and `faas-cli build` no longer work without intervention/additional flags when building on a non-Intel machine like RPi or ARM64.

Normal building on PCs/Intel is unaffected.

## Expected Behaviour

The following should work on RPi without needing buildx, buildkit, or any build flags.

[code]

To be clear - `faas-cli build`

[2020-12-03 10:15] alexellis commented on #232
<img width="1661" alt="Screenshot 2020-12-03 at 10 14 22" src="https://user-images.githubusercontent.com/6358735/100995926-5c78ab80-3550-11eb-8f1a-d6e0e79d36eb.png">
<img width="1661" alt="Screenshot 2020-12-03 at 10 08 40" src="https://user-images.githubusercontent.com/6358735/100995936-600c3280-3550-11eb-8537-7ed66ce268c8.png">
<img width="1661" alt="Screenshot 2020-12-03 at 10 15 01" src="https

[2020-12-05 16:27] SilentCicero opened #234 "Rust Support?"
Does OpenFaas support rust, would there be a development pathway to make this work, and potentially make this work in production (or with production quality)?

Thanks!

[2020-12-17 07:41] nitishkumar71 opened #236 "Build Status not showing on READMe"
Build Status is not being shown in Read Me

## Expected Behaviour

correct build status should be shown on read me
## Current Behaviour

correct build status is not shown on read me

[2020-12-19 16:02] nitishkumar71 opened #237 "Java LTS Maven Build Support"
JAVA LTS Maven Support
## Expected Behaviour

Most of the java projects use maven as their build tool. There should be java template using maven for openfaas functions
## Current Behaviour

No support for Java template using maven build tool
## Possible Solution

Provide support for Java template using maven build tool

## Context

This will allow enterprise teams to move their maven based java wo

[2021-01-03 20:15] blijblijblij opened #240 "Ruby template is unable to build gem native extension"
When adding a gem that needs extensions to be natively build the `ruby:alpine` image seems to be a bit to lightweight and can not build the gems defined within the Gemfile:

[code]
## Expected Behaviour

[code]
## Current Behaviour

[code]

## Possible Solution

Some [github issues](https://github.com/gliderlabs/docker-alpine/issues/53) mention similar issues, which should be fixed by adding

[cod

[2021-01-03 20:24] blijblijblij commented on #240
Would this https://github.com/blijblijblij/templates/commit/0edb240db27ef3d62e5eb625f32bc99a304bd0f9 fix the issue?!

Not sure if I understood the templates correctly @alexellis

[2021-01-04 11:40] alexellis commented on #240
You need to use a template that is based upon Debian instead of Alpine Linux, which is better suited to pure-Ruby only.

Use the ruby-http one https://github.com/openfaas/ruby-http

[2021-01-04 11:40] #240 closed

[2021-01-05 09:08] blijblijblij commented on #240
Hmm, lots off nuances here, thx for pointing me to `ruby-http` @alexellis , after some github actions workflow changes I got it to work, although `kubeclient` gem still seems reluctant to install:

https://github.com/blijblijblij/faas-functions/runs/1648922184?check_suite_focus=true

I'll continue my investigation, thx anyway!

[2021-01-05 09:50] alexellis commented on #240
Have you checked the installation requirements for kubeclient?

https://rubygems.org/gems/kubeclient/versions/3.0.0
https://github.com/abonas/kubeclient

And does it install locally with `faas-cli build`?

[2021-01-05 10:00] alexellis commented on #240
OK so you need to add this to your stack.yml file:

[code]

https://docs.openfaas.com/reference/yaml/#function-build-options

That built fine for me:

[code]

May I suggest that, if you've found my answers and help useful, that you support our project?

https://github.com/sponsors/openfaas

or

https://github.com/sponsors/alexellis

[2021-01-05 10:00] alexellis commented on #240
/set title: Support request for native dependencies in ruby

[2021-01-06 10:50] blijblijblij commented on #240
Struggled with editing the stack.yml

[code]

Did not work for me, but maybe I placed it in the wrong place, got it to work with `ADDITIONAL_PACKAGE` while building with [github actions](https://github.com/blijblijblij/faas-functions/blob/develop/.github/workflows/main.yml#L49-L60), which conceptionally use the same variables:

[code]

Now it works, thanks for your kind help @alexellis

[2021-01-06 11:05] blijblijblij commented on #240
Been there, done that, thanks and keep up the good work! 🚀 🎆

[2021-01-06 12:24] alexellis commented on #240
You cannot use `faas-cli build` with `docker/build-push-action@v2` - it's mutually exclusive.

`faas-cli build` generates a `docker build` command, and `docker/build-push-action@v2` creates its own docker build command, so you've done the right thing for your CI, if you need it to be multi-arch.

For local development, you need to use the stack.yml approach and `faas-cli build`, or for multi-arch

[2021-01-07 17:39] fergalmoran commented on #232
Hi Alex - I still can't get it to build even with your instructions above?

[code]

[2021-01-07 17:48] alexellis commented on #232
Hi, for Raspberry Pi you need to use the publish command, followed by deploy hope that helps. You may also need to delete those base images you downloaded.

I tend to build my RPi images on a Linux box or my Mac with the publish command now.

Happy to chat more on Slack if you want.

Alex

[2021-01-07 18:35] fergalmoran commented on #232
That would be great, Alex. I'm a bit confused...
I've pinged you an invite.

[2021-01-08 15:45] alexellis commented on #232
So you'd just do the following from your PC, not on the RPi:

[code]

[2021-01-08 15:45] #232 closed

[2021-01-08 15:45] alexellis commented on #232
/add label: wontfix

[2021-01-08 15:45] alexellis commented on #232
The publish command means that we don't need to fix this issue. cc @LucasRoesler @utsavanand2 @viveksyngh @Waterdrips

[2021-01-11 08:41] huangchen007 opened #241 "The template website link of java11-vert-x is wrong"
The template web link of java11-vert-x is wrong

[2021-01-12 07:17] dhayakardhaya opened #242 "No Java8 template support"
why faas-cli not supporting java8 template.
when i try to create a function with the below command
faas-cli new --lang java8 new-function
its throwing an error like java8 is unavailable or not supported.
what could be solution for it , i wanted to create a function with java8 template.

[2021-01-28 14:02] alexellis commented on #242
We have no java8 template, we have a java11 template.

Can you explain why you need java8?

[2021-01-28 14:04] #241 closed

[2021-01-28 14:04] alexellis commented on #241
Thanks

[2021-01-29 20:43] fundef1 opened #245 "node12: add limit environment variable for raw (application/octet-stream)"
I can't seem to set the limit for bodyParser.raw - i.e. when using a Content-Type: application/octet-stream

## Expected Behaviour
i was expecting an equivalent to the MAX_JSON_SIZE environment variable.
I'm not a (js) programmer, but I couldn't find a clean way to set the limit for the raw parser.

## Current Behaviour
bodyParser.raw defaults to 100kb

## Possible Solution
I hacked the node12 tem

[2021-01-29 21:12] alexellis commented on #245
How about this?

https://github.com/openfaas/templates/blob/master/template/node12/index.js#L15

[2021-02-10 08:37] #245 closed

[2021-03-02 08:56] betterRunner opened #249 "How to test the template before submiting to template store?"
I want to submit a template but i am not sure about its correctness. Is there any way to build a function from my own template so I can test it locally? So far the [lab3](https://github.com/openfaas/workshop/blob/master/lab3.md) just provide a way to build function by templates from store.

[2021-03-02 09:01] alexellis commented on #249
Glad to hear you're interested in OpenFaaS.

It would be best if you could follow the instructions in the contribution guide and propose your template suggestion before submitting a PR.

Thanks,

Alex

[2021-04-02 13:45] ggrussenmeyer opened #250 "Inversion in README.md for node12 and node14 links"
Links to template source code are inverted between node12 and node14 in the README.md file.

## Expected Behaviour
When I click on the "NodeJS Template" link for node12, I'm directed to the node12 directory.
When I click on the "NodeJS Template" link for node14, I'm directed to the node14 directory.

## Current Behaviour
When I click on the "NodeJS Template" link for node12, I'm directed to the no

[2021-04-02 14:55] ggrussenmeyer opened #252 "Execution timeout greater than 2 minutes is not honored by `node12` template"
When invoking over HTTP a `node12` function whose`exec_timeout` is greater than 2 minutes, an empty response with a 500 status code is received after 2 minutes have elapsed.

## Expected Behaviour
When invoking over HTTP a long-running `node12` function for which `exec_timeout` is greater than 2 minutes (and assuming timeouts values are adequately configured on infrastructure components such as ga

[2021-04-02 17:26] ggrussenmeyer opened #253 "node14 based functions are executed using Node.js v12"
## Expected Behaviour
When I build a function using the `node14` template, the function is run using Node.js v14.

## Current Behaviour
When I build a function using the `node14` template, the function is run using Node.js v12.

## Possible Solution
Replace the version number of the Node.js Docker image referenced in the `node14` template Dockerfile.

## Steps to Reproduce (for bugs)
1. Build a fu

[2021-04-03 12:54] p-fortier opened #255 "Can't access HTTP request body in java11-vert-x template."
## Expected Behaviour

When building a function using the `java11-vert-x` template, i should be able to access the HTTP request body from the `RoutingContext` object.

## Current Behaviour

Recovering body using Vertx API e.g `routingContext.getBody()` raises a `NullPointerException` because the routingContext object isn't populated with the HTTP request body.

## Possible Solution

Adding a `Body

[2021-04-05 06:54] hrak opened #257 "nodejs12 (and nodejs14) templates only return error 500 on context.fail()"
The nodejs templates currently return a `500 Internal Server Error` in all cases (and do not output supplied result) on a call to `context.fail()`

F.e. on a return statement like this: `return context.status(405).fail({"status": "method not allowed"})`:

## Expected Behaviour

[code]
## Current Behaviour

[code]
## Possible Solution
My guess is that the arguments on [this line](https://github.com

[2021-04-05 13:40] alexellis commented on #257
This is expected behaviour, but I can see why you are confused by it.

We'll take a look at it, but are open to taking a PR if you wanted to first propose how you think it should work?

Alex

[2021-04-05 14:29] hrak commented on #257
Maybe i misunderstood, but i saw it more as a way to exit the handler in any non-OK state (not 2xx or 3xx).

This is also the idea i got from [this blog post](https://www.civo.com/learn/guide-to-build-a-crud-api-with-postgresl-and-node-js-with-openfaas), which actually has the exact `return context.status(405).fail({"status": "method not allowed"})` line as in my "Steps to reproduce" above.

[2021-04-06 07:52] #250 closed

[2021-04-06 07:53] alexellis commented on #255
Hi, thanks for your interest in OpenFaaS.

Under "Steps to Reproduce (for bugs)", please could you create a Github repo that shows how to reproduce this issue?

Thanks

[2021-04-06 08:47] p-fortier commented on #255
Hi @alexellis 👋

I edit the issue, adding a Github repo showcasing the issue I wanted to report with logs from my deployment.
By doing so, I realised the poor quality of my first issue... Sorry about that.

The issue stated is wrong since `RoutingContext.getBody()` is `@Nullable`.
The correct statement would be:

Thanks for the quick reply !

[2021-04-06 09:16] alexellis commented on #257
Would you be open to taking a look into this and sending in a PR @hrak?

[2021-04-06 09:24] alexellis commented on #252
The change you propose here looks reasonable: https://github.com/ggrussenmeyer/openfaas-templates/commit/20253e88d398ab75446d83b68fe075b1b5dd1938

Would you like to raise a PR and show some end to end testing that you've done? Or provide a sample repo that we can deploy to see this in action?

Alex

[2021-04-06 09:25] #253 closed

[2021-04-06 09:27] alexellis commented on #255
No problem. That helps a lot. Can you see my comment on the PR please?

[2021-04-06 09:58] ggrussenmeyer commented on #252
Hi @alexellis,

yes definitely, I was about to raise a PR but realized it did miss some more end to end testing than our internal usage provides, I'm working on it (with a sample repo).

I also have a philosophical issue regarding the possible race condition between the Node.js side timing out versus the watchdog timing out: given that Node.js timing out abruptly closes the response stream and tri

[2021-04-06 16:47] kevin-lindsay-1 commented on #252
I have my own template for node, and I recall running into this way back, but I was still getting used to OF so it didn't cross my mind to create a ticket. I ended up parsing the duration to match what you can pass in to openfaas (as in, go-style duration), converting that to milliseconds, and then setting the timeout in express to match.

[2021-04-08 09:51] hrak commented on #257
I can take a stab at it!

[2021-04-26 15:24] #99 closed

[2021-04-28 16:24] alexellis commented on #252
@ggrussenmeyer thanks for the WIP branch you have in your fork. Could you send us a PR please? I've also left you a couple of comments.

[2021-05-05 18:51] CC007 opened #260 "Unable to install cryptograpy package in python, since it requires rust"
The python package `cryptography` requires rust nowadays.
The Alpine image that is used by faas-cli doesn't contain rust.
This causes the building of the docker image to fail.

More info: https://github.com/pyca/cryptography/issues/5771

Note that an older version of the cryptography package also doesn't work, due to the dependency on libssl-dev.

It would be nice if both of these were available,

[2021-05-05 20:33] alexellis commented on #260
Hi, you can add these packages in at build time or by editing your template.

Please see the docs to learn how with build config / args.

You are also probably better off using python3-debian since it comes with a build toolchain already and is better suited for native C packages, so it may also be better for your Rust toolchain.

Thanks for using OpenFaaS and do consider becoming a GitHub Sponsor

[2021-05-05 20:33] #260 closed

[2021-05-05 23:54] CC007 commented on #260
It would be nice to be able to edit this without having to change the template. So instead of specifying a build_option bundle like `dev`, which is hardcoded in the template, it would be nice to be able to specify your own extra packages to install, similar to how you can specify which python packages to install.

[2021-05-07 19:26] CC007 opened #261 "[Feature] Add packages without changing the template"
It would be nice to be able to add packages without having to change the template. That way when the template gets updated (like an update to the base image or to the predefined package bundles) I don't have to update my edited template.

So instead of specifying a `build_option` bundle like `dev`, which is hardcoded in the template, it would be nice to be able to specify your own extra packages t

[2021-05-12 11:28] #236 closed

[2021-05-12 11:39] alexellis commented on #252
Closing since in node14 there is no default timeout, so it's unbounded and will be detected by the watchdog.

Users wishing to go beyond 2m should use node12.

Alex

[2021-05-12 11:39] #252 closed

[2021-05-12 11:43] #257 closed

[2021-05-12 11:44] alexellis commented on #257
This is fixed by https://github.com/openfaas/templates/pull/262

I thought we'd waited long enough given how useful this could be for other users.

If you value our work and the project then please [become a GitHub Sponsor](https://github.com/sponsors/openfaas/)

[2021-05-30 07:27] ybasapur commented on #158
best solution I come across, after struggling for many hours to make it work.

[2021-06-13 10:00] vampireslove opened #263 "Does not support springboot templates"
I want to use springboot to develop serverless functions with openfaas，but  Does not support springboot templates。

[2021-06-14 14:42] alexellis commented on #263
Hi,

There's nothing stopping you from creating your own Springboot template or using a simple Dockerfile approach. If you would like consulting or professional services, feel free to reach out via https://openfaas.com/support/

We also need everyone to fill out the issue template, could you do that please?

https://raw.githubusercontent.com/openfaas/templates/master/.github/ISSUE_TEMPLATE.md

Ale

[2021-06-14 14:42] #263 closed

[2021-08-21 14:50] Shikachuu commented on #234
Hey,
I don't know if this is still relevant to you anymore, but with there is a repository in the @openfaas-incubator org, with Rust support.

https://github.com/openfaas-incubator/rust-http-template

You can find the install instructions there.

[2021-08-21 16:53] Shikachuu opened #267 "PHP version update"
The PHP version should be a supported one. (So at least PHP 7.3)

## Expected Behaviour
The PHP version in the templates is at least PHP version 7.3.

## Current Behaviour
The current version is 7.2 which is end-of-life and no longer supported/maintained.
https://www.php.net/supported-versions.php

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [X

[2021-08-24 23:51] MrWormHole opened #268 "Go Version Update from 1.15 to 1.16"
The Go version should be above 1.15 since 1.17 is released.

## Expected Behaviour

The Go version in the templates should be at least version 1.16

## Current Behaviour

Currently used version was 1.15 and It was causing some issues when docker tried to pull 1.15 alpine(1.13) alpine image for arm64. Other versions didn't have this issue.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://g

[2021-11-03 10:48] alexellis opened #270 "Upgrade of/classic-watchdog to 0.9.0 for quick shutdown"
## Title

Upgrade of/classic-watchdog to 0.9.0 for quick shutdown

https://github.com/openfaas/of-watchdog/releases/tag/0.9.0
https://github.com/openfaas/classic-watchdog/releases/tag/0.2.0

If you use a search/replace, note that not every Dockerfile may use the same syntax or use the same prior version. Take care, and check every Dockerfile is updated.

For example:

https://github.com/openfaas/t

[2021-11-03 12:15] #270 closed

[2021-11-26 10:46] rvarkonyi opened #272 "node v12: Error: listen EADDRINUSE: address already in use"
Trying to run a simple app in a Digital Ocean kubernetes cluster using the node v12 template but getting this error when invoking the function:

`Error: listen EADDRINUSE: address already in use :::3000`

I've definitely not got anything running on this port (tried to use other arbitrary ports, always getting the same error).

Any help would be appreciated.

Thanks

## Your Environment
Kubernetes

[2021-11-27 09:15] LucasRoesler commented on #272
Hi @rvarkonyi without some more details I don't know if we can really help debug this. Can you include more information about your app and any other software you installed in your cluster, including how you installed openfaas? Ideally, if you can share a link to your app code and give concrete instructions for the comands you ran on your cluster, that will allow us to attempt to help.

[2021-11-29 17:41] francisdb opened #273 "JS templates don't react to SIGTERM"
The js templates using `express` are missing SIGTERM handling

## Expected Behaviour

A SIGTERM on the container should stop it

## Current Behaviour

Nothing happens, the shutdown times out and the container is hard killed

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [X] No

But the company I work for is sponsoring (waylay.io)

## Which Soluti

[2022-01-06 01:48] agasser commented on #153
Looks like this was fixed by https://github.com/openfaas/templates-sdk/pull/3

[2022-01-06 01:48] #153 closed

[2022-01-06 06:52] cryLuantic opened #274 "hi alexellis，i'm trying to build a arm64 image with openfaas by using the common templates，but it failed,could you"
## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Docker version are you using? `docker version`

* What version of Kubernetes

[2022-01-06 06:53] cryLuantic commented on #274
here is my respoense code:

[0] > Building add.
Clearing temporary build folder: ./build/add/
Preparing: ./add/ build/add/function
Building: myw/add:latest with python template. Please wait..
Sending build context to Docker daemon  8.192kB
Step 1/31 : FROM --platform=${TARGETPLATFORM:-linux/amd64} ghcr.io/openfaas/classic-watchdog:0.2.0 as watchdog
 ---> 6f97aa96da81
Step 2/31 : FROM --platform=${

[2022-01-06 06:54] #274 closed

[2022-01-06 06:58] cryLuantic opened #275 "hi there,i'm trying to build a image based on arm64,but i failed,could you tell me how to solve it?"
my command :faas-cli build -f ./add.yml

my response code:

[0] > Building add.
Clearing temporary build folder: ./build/add/
Preparing: ./add/ build/add/function
Building: myw/add:latest with python template. Please wait..
Sending build context to Docker daemon  8.192kB
Step 1/31 : FROM --platform=${TARGETPLATFORM:-linux/amd64} ghcr.io/openfaas/classic-watchdog:0.2.0 as watchdog
 ---> 6f97aa96da8

[2022-01-13 21:10] xueli-daisy opened #276 "Support request for pyperf and Python3 template"
## Expected Behaviour
The function should be invoked successfully

## Current Behaviour
echo "100"|faas-cli invoke deltablue --gateway  http://127.0.0.1:31112
Server returned unexpected status code: 500 - exit status 1
Traceback (most recent call last):
  File "/home/app/index.py", line 6, in <module>
    from function import handler
  File "/home/app/function/handler.py", line 17, in <module>

[2022-01-13 22:18] alexellis commented on #276
Hi @xueli-daisy unfortunately we cannot support community users on specific python modules.

However, if you take the time to create a GitHub repo with all the code in, I will take a few minutes of my time to build it and see if I can make a recommendation.

By the way, the file you're trying to use as handler.py called run_benchmark.py is not compatible as a function handler file.

For that reaso

[2022-01-13 22:18] alexellis commented on #276
/add label: support, question

[2022-01-13 22:51] alexellis commented on #276
/set title: Support request for pyperf and Python3 template

[2022-01-13 22:54] alexellis commented on #276
I looked into this with the code example in the pyperf docs: https://pyperf.readthedocs.io/en/latest/run_benchmark.html

[code]

[code]

requirements.txt

[code]

I found that the same error was created, but only for this particular python module. Others that I tried are working as expected.

It seems to be related to pyperf expecting to be able to hook into `__main__`.

Unfortunately I can't take

[2022-01-13 22:54] #276 closed

[2022-01-20 16:37] cactysman opened #277 "[Typo] Node template naming in README is wrong"
Hey there, 081622a added new Node.js templates to the README document, but they're are all named `node14` instead of `node16` and `node17`,

See:
https://github.com/openfaas/templates/blob/d8893afe3d1072840174911859c6f5db2986e814/README.md?plain=1#L19-L20

I was about to create a pull request, but the contributing guide [told me not to](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#

[2022-01-20 16:53] LucasRoesler commented on #277
@cactysman feel free to send the PR

[2022-01-21 09:03] #277 closed

[2022-01-28 20:41] hosseinmanafi opened #280 "Currently only Build and Deploy and Create Function on Docker works with Handler extends AbstractHandler"
Currently only deploy works with "Handler extends AbstractHandler". When I build and deploy with "Handler implements IHandler ", it gives an error when creating Docker.

Exception in thread "main" java.util.ServiceConfigurationError: com.openfaas.model.AbstractHandler: com.openfaas.function.Handler not a subtype

Also when I use "Handler extends AbstractHandler". If in the program, for example, I

[2022-02-02 22:23] alphara commented on #3
I got the the same `exec format error` with node14, node16, node17 images.

[2022-02-04 10:23] LucasRoesler commented on #3
Hi @alphara  this is a pretty old ticket, if you are having this issue can you please open a new issue with the reproduction details for your situation and add back reference to this issue.

Most likely there is a issue with how the image is being built , this  error `"standard_init_linux.go:195: exec user process caused 'exec format error'"` usually means that you are trying to run an image built

[2022-02-04 14:44] alphara commented on #3
Hi @LucasRoesler. Thank you for the message. Yes, I found that I was building the images on Apple M1 chip (ARM) but running on the AMD architecture. I rebuilt the image on a machine with the same type of the architecture and it works.

[2022-02-16 16:54] alexellis commented on #273
Would you like to have a go at writing a draft PR for this @francisdb?

[2022-02-16 16:55] alexellis commented on #272
Reviewed on the Office Hours call today, no response from original poster, so closing.

If someone else runs into this, please raise your own issue.

[2022-02-16 16:55] #272 closed

[2022-02-16 16:55] alexellis commented on #272
/lock

[2022-02-16 16:55] #268 closed

[2022-02-16 16:55] #267 closed

[2022-02-16 17:21] cryLuantic commented on #275
thank you Lucas，i have build my image wtih arm successfully,but now i have a another question with openfaas.
i want to scale my function to zero casue i want to test the cold start time, but i found my function always keep 1 copy
So what should i do ,is this feature only for openfaas pro?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-02-16 18:22] alexellis commented on #280
Hi @hosseinmanafi please edit this issue and fill out the whole template. We will need a GitHub repo or sample so we can try to reproduce it for you.

If we don't hear from you in the next 7 days we'll close this issue and assume you're no longer interested.

Generally, the Java and Gradle template are working as expected, so I'm unaware of any issues. I could be wrong, but this is likely a suppor

[2022-02-17 08:42] LucasRoesler commented on #275
Scale to zero is a pro feature (has been for ~1 year or so)

But if you only want to test how cold start behaves, you can mimic scale _from_ zero by manually scaling your function using kubectl.

[code]

[2022-02-17 08:43] LucasRoesler commented on #275
/close

[2022-02-17 08:43] #275 closed

[2022-02-18 10:18] alexellis opened #282 "Upgrade Vertx to 4.x"
Upgrade Vertx to 4.x

## Expected Behaviour

We should have an option or change our main option for java11-vertx that means users can take advantage of the latest stable version of the Vertx framework

https://vertx.io/docs/vertx-web/java/

## Current Behaviour

Still using 3.x

## List All Possible Solutions and Workarounds

* Change the template java11-vertx to just use the new library 4.x
* Add

[2022-02-18 11:12] pmlopes commented on #282
For the "next" version I'd propose a change to the original interface:

[code]

This means that user only need to do:

[code]

The choice of using a function allows the entrypoint to use the `respond` method which will ensure you don't need to worry about encoding json, binary or text manually. It also implies that the request is complete, using a handler this isn't guaranteed as the api assumes t

[2022-02-18 11:53] pmlopes commented on #282
For reference: https://vertx.io/docs/vertx-web/java/#_simple_responses

Using this new API has many benefits to end users, such as, better error handling:

[code]

Will now be catched and returns either a `500` error, or if during setup a custom error handler is mounted, than that handler will process the error.

It also allows composition, for example, using a client like redis to query the datab

[2022-02-20 12:40] nitishkumar71 opened #283 "Update of-watchdog version to 0.9.3"
Update watchdog version to 0.9.3
## Expected Behaviour

Update watchdog version to 0.9.3
## Current Behaviour

Watchdog version is 0.9.2
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

[2022-02-21 09:27] #283 closed

[2022-05-11 15:01] #280 closed

[2022-05-25 18:18] meacu1pa opened #293 "Template for PHP 8.1 (as 7.4 end of life will be 28 Nov 2022)"
Since PHP 7.4's active support ended 28 Nov 2021 and security fixes will only be applied until 28 Nov 2022 it would be nice to have a php 8.1 template.

## Expected Behaviour
There is a PHP 8.1 template available

## Current Behaviour
There is only a PHP 7.4 template available.

## Are you a GitHub Sponsor (Yes/No?)
I bought the faasd eBook

Check at: https://github.com/sponsors/openfaas
- [ ] Yes

[2022-05-25 19:05] meacu1pa commented on #293
Working on this contribution [here](https://github.com/meacu1pa/openfaas-templates/tree/php8_template/template/php8).

Still need to give it a test drive before creating a PR.

[2022-05-26 08:18] alexellis commented on #293
Thanks for working on this, we'd welcome a PR for a "php8" template into this repository.

[2022-05-28 11:33] meacu1pa commented on #293
Php 8.1 template builds nicely, there's only one little blocker right now:

The examples  for extensions in `php-extension.sh-example` include installing Phalcon, which currently has no PHP 8 support.
This means when using the extension-example *with* the phalcon part results in the build breaking.

@alexellis would it be sufficient to just remove the Phalcon part and update the extension document

[2022-06-04 07:33] #293 closed

[2022-07-03 19:59] radicand opened #296 "Add a template for node18"
## Expected Behaviour
Today there are templates for various NodeJS versions. Node 18 is out, but there is no template for it. Node 18 is particularly interesting because it bundles fetch() natively, reducing the need for dependencies within functions.

## Current Behaviour
Use a current NodeJS image, but with a shim/package to add fetch support.

## Are you a GitHub Sponsor (Yes/No?)
No

Check at:

[2022-07-27 21:49] jackvhall opened #297 "Garden does not allow openfaas templates after openfaas/templates#1.2"
Garden does not currently support `of-watchdog` based language templates in its openfaas plugin. Attempts to use newer templates such a `node16` result in a failed lookup:
![image](https://user-images.githubusercontent.com/44177102/181377469-98b3215d-594b-44c4-ba60-ea88508f31e9.png)

Upon examining the source code, it appears that in `core/src/plugins/openfaas/openfaas.ts` ([line 110](https://gith

[2022-07-27 21:50] #297 closed

[2022-08-26 13:09] Fbanaie commented on #62
I deployed a function using java11 templates and tried to add external dependencies according to the example in https://blog.alexellis.io/java-comes-to-openfaas/. When I invoked the function I got the following error:
**Server returned unexpected status code: 500 -**
------------------------------------------------------
**my build.gradle is :**
plugins {
    // Apply the java-library plugin to ad

[2022-08-30 09:46] s22saeid opened #299 "Server returned unexpected status code: 500 - with java11 template"
I've deployed a function using java11 templates and tried to add external dependencies according to the example in https://blog.alexellis.io/java-comes-to-openfaas/. When I invoked the function I got the following error:
**Server returned unexpected status code: 500 -**

## Current Behaviour

### Server returned unexpected status code: 500 -
------------------------------------------------------
#

[2022-10-05 16:22] alexellis opened #300 "Update node17 template (and prior, if you have time) to use chown from Docker"
Update node17 template (and prior, if you have time) to use chown from Docker

## Expected Behaviour

Where possible, when copying files between stages or from the build context, use Docker's own chown command.

## Current Behaviour

Not used

## Steps to Reproduce (for bugs)

1. Create a new function and install something big and slow like the AWS SDK
2. Try faas-cli build and see how it goes?
3.